[2019-08-27 12:32] Ai-is-light opened #1 "one bug I met. When I try ./initialize.sh under the environment I met the following error"
thanks for your excellent work

[2019-08-27 15:18] Ai-is-light commented on #1
MocapNET/AmmarServer/src/Services/APushService/device.c:7:18: error: missing binary operator before token "("
 #if __has_include("configuration.h") && __has_include(<stdint.h>)
                  ^
make[2]: *** [AmmarServer/src/Services/APushService/CMakeFiles/apushservice.dir/device.c.o] Error 1
make[1]: *** [AmmarServer/src/Services/APushService/CMakeFiles/apushservice.dir/all] Error 2
make: ***

[2019-08-27 15:49] Ai-is-light commented on #1
I used CentOS7

[2019-08-28 03:21] Ai-is-light opened #2 "would you mind sharing one instruction in detail?"
--------------------------------------------------------------------
after building,  I would like to testing the repo, while I have to use the centOS service or the docker environment without camera. So, I tried to process the video by your repo and save the processed output at local path. But I can not find one detailed instruction about this excellent work?
I got the following error:
root@277ae

[2019-08-30 15:34] AmmarkoV commented on #2
Thank you for your kind words..!
This appears to be an OpenCV related error..! Since you where able to run the benchmark it means that the tensorflow and neural network are working correctly.
Today I will try to make the code handle the visualization windows  to make them to be able to be switched off.
The error appears to be OpenCV related.. And I think it must have to do with the headless docker

[2019-08-30 15:37] AmmarkoV commented on #1
Hello this has to do with a secondary project I am using ( https://github.com/AmmarkoV/AmmarServer/ ) in order to make a MocapNET webservice as a demo ( https://github.com/FORTH-ModelBasedTracker/MocapNET/tree/master/MocapNETHTTP ) , I will disable it since
A) it is currently not yet working
B) until it is working it will only cause confusion..!

Thank you for your feedback!

[2019-08-30 15:54] AmmarkoV commented on #2
I added a flag : --novisualization that suppresses visualization windows

You should git pull , recompile and then try ./WebcamBIN --from ./video_test/sense_test.mp4 --novisualization and see if it will now work on the docker container..

https://github.com/FORTH-ModelBasedTracker/MocapNET/commit/d5c7471cc2e083fc1a3e21f3f7cb07c85d410836

[2019-08-30 15:56] AmmarkoV commented on #1
You can remove the AmmarServer directory from MocapNET root, I disabled the HTTP server with commit https://github.com/FORTH-ModelBasedTracker/MocapNET/commit/98a7f93890bc6f2acfa4d9b9cd833218f60025ee so it wont cause any compilation problems any more..

[2019-09-01 08:39] Ai-is-light commented on #1
thanks, I will try

[2019-09-01 13:33] Ai-is-light commented on #2
now, I can get the image imshow at docker environment.
and, --novisualizaition man not work?
I run root@7953ba7131a3:/pose_dancing/we-try-git-newest/MocapNET# ./WebcamBIN --from video_test/sense_test.mp4  --novisualization
I got as following:
Trying to open video_test/sense_test.mp4
OpenCV Error: Assertion failed (size.width>0 && size.height>0) in imshow, file /pose_dancing/MocapNET/opencv-3.2.0/m

[2019-09-01 13:53] Ai-is-light opened #3 "could I got the output or processed file or the 2d to 3d, bvh file. and where?"
I added a flag : --novisualization that suppresses visualization windows

You should git pull , recompile and then try ./WebcamBIN --from ./video_test/sense_test.mp4 --novisualization and see if it will now work on the docker container..

https://github.com/FORTH-ModelBasedTracker/MocapNET/commit/d5c7471cc2e083fc1a3e21f3f7cb07c85d410836

_Originally posted by @AmmarkoV in https://github.com/FORTH-

[2019-09-02 14:03] #1 closed, assigned to nobody

[2019-09-02 14:55] AmmarkoV commented on #3
The BVH file default filename is out.bvh ( except if you override it with -o filename.bvh )

The BVH file is written after the code is done with the main loop using the writeBVHFile call  https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/WebcamAndDeepJoint/test.cpp#L520 This is why if you get an error there is no file generated.

I have added logic in the OpenCV code so that it antic

[2019-09-02 15:06] AmmarkoV commented on #2
I am closing this since this is a duplicate of https://github.com/FORTH-ModelBasedTracker/MocapNET/issues/3

[2019-09-02 15:06] #2 closed, assigned to nobody

[2019-09-04 14:01] Ai-is-light commented on #3
after updating and rebuild, I also got some odd error as following:
it only can show and process several sconds

Tensor: result_back/concat inputs: 133
 outputs: 1
Caching networks after initialization to be ready for use..
2019-09-04 13:56:33.357048: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_

[2019-09-16 16:36] AmmarkoV commented on #3
Unfortunately the error still appears to be OpenCV related and has to do with your input source..!

As seen from :
what(): /pose_dancing/MocapNET/opencv-3.2.0/modules/imgproc/src/imgwarp.cpp:3492: error: (-215) ssize.width > 0 && ssize.height > 0 in function resize

which is probably emitted @ https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/WebcamAndDeepJoint/test.cpp#L513 while tr

[2019-10-29 12:45] timtensor opened #4 "Extending towards Hrnet as 2D joint detector"
Hi , first of all great work. I was wondering if it could be extended to `HrNET` as it is supposed to highly accurate ? Here is an implementation of it . I think it is possible , to dump the `json` file per frame format in for the keypoints. It is based on `coco` keypoints .  Link to the repo
[simpleHRNET](
https://github.com/stefanopini/simple-HRNet)

There is a demo script here [demo_script](htt

[2019-10-30 09:32] AmmarkoV commented on #4
Hello!
Thank you for your kind words!

Any source of 2D joints can be used "out of the box" as long as it has the following Joints :
HIP,NECK,HEAD,RSHOULDER,RELBOW,RHAND,LSHOULDER,LELBOW,LHAND,RHIP,RKNEE,RFOOT,LHIP,LKNEE,LFOOT since they are the joints used to generate the NSDM matrices internally used by the neural network, as seen in the following illustrations.

![image](https://raw.githubuserc

[2019-10-30 09:37] AmmarkoV commented on #3
Closing this issue as it appears to be stale

[2019-10-30 09:37] #3 closed, assigned to nobody

[2019-10-30 09:42] timtensor commented on #4
Thank you for the reply. I  am trying out different permutations as well. Not really a pro , learning by trying. I must mention , with the `yolov3` implementation the accruacy has greatly improved. One thing to note is  , that is computationally quite heavy the 2D detection part of it .

[2019-10-30 10:02] AmmarkoV commented on #4
Last version of yolo I had checked out was yolov2, but only for detection of objects and not persons.  In any case testing with hrnet would be initially more like an offline experiment especially since hrnet is python/pytorch while this repo is C++/tensorflow

[2019-10-30 10:26] timtensor commented on #4
Yes i totally agree , as a start it should be done in locally saved videos .If i understand correctly, i might be wrong , you need the `keypoints` per frame as an input to the `MocapNET` module right .

[2019-10-30 12:26] AmmarkoV commented on #4
Yes, you need at least the hip, neck, head, rshoulder, relbow, rhand, lshoulder, lelbow, lhand, rhip, rknee, rfoot, lhip, lknee, lfoot joint 2D positions  organized as 2DXhip,2DYhip,Vhip , ... where V is a visibility flag that is 1 when the joint is visible and 0 when joint is invisible.

The [sample CSV file](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/dataset/sample.csv) show

[2019-12-19 07:22] TonyFaith opened #5 "how can i get the results of a video containing 2d,3d coordinations?"
thanks for this wonderful work, i an wondering how could i get the 2d and 3d pose coordinates? at the same time, how can i save the result video showed as --visualize flag?

[2019-12-20 15:44] AmmarkoV commented on #5
Hello!
I just added the features you requested..!
After running the MocapNETLiveWebcamDemo **without** the --live flag you will see two files appear in the directory besides the out.csv . The one is in.csv and it is a CSV file with the 2D inputs, the second is out3DP.csv which is a CSV file with the 3D Points output , the first row of the out3DP.csv file will currently be wrong but you have all of

[2020-01-06 15:28] AmmarkoV commented on #5
Happy 2020. Since it appears that you don't have a further comment I will close this issue. Feel free to open another one..

[2020-01-06 15:28] #5 closed, assigned to nobody

[2020-01-10 05:10] mulkkyul opened #6 "Missing "handsup.bvh""
Hello. Thank you for sharing the excellent work!
I was converting openpose json to bvh
and I noticed that "handsup.bvh" is missing in the dataset directory .
(Still, conversion seems successful without it.)
Thanks!

[2020-01-14 16:33] AmmarkoV commented on #6
Hello,
You are right!

I see there is a [forgotten handsup.bvh](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/MocapNET1/MocapNETLib/gestureRecognition.hpp#L27) from a previous version here.. I will update the header.

The gesture recognition is a very small and simple part of the codebase. Of course gesture recognition is not essential for 3D pose estimation ([it is not even

[2020-01-14 16:40] AmmarkoV commented on #6
I added the forgotten gesture with commit https://github.com/FORTH-ModelBasedTracker/MocapNET/commit/5316549833ca3d4e4ba9d09fd35e7317a0e9a20b

[2020-01-14 16:40] #6 closed, assigned to nobody

[2020-02-04 20:22] timtensor commented on #4
Thanks a lot for the infromation. I still couldnt manage to extend it to the simple hrnet as 2D detector. I am doing everything off line at this moment

[2020-02-06 02:12] LexTypeC opened #7 "Could not find COCO 2D skeleton when attempting to convert OpenPose Json output"
First of all big props with this project, I love the idea of it and was pleased to find out it exists.

As it stands I've been attempting to test this project in conjunction with OpenPose by running the following command:

`openpose/openpose.bin -number_people_max 1 --hand --write_json /output/ --write_images /output/ --image_dir examples/media/`

This generated an image and json file (the image f

[2020-02-06 05:04] LexTypeC commented on #7
Re-read documentation and tried again this time with a selection of jsons generated from a clip rather than a single image. Used the command:

`./MocapNETJSON --from "~/Documents/output" --label VelvetyAlertBackswimmer_ --seriallength 12 --size 642 720`

Which returned the result:

[code]
For reference when using the commands:

`cd ~/Documents/output`

Followed by:

`dir`

The following printout i

[2020-02-06 15:11] Asdf11x commented on #7
I was about to open the same Issue. My problem looks exactly the same as you stated in your second post.
`$./MocapNETJSON --from ~/workspace/net_output/json/ --label yourVideoFile --seriallength 12 --size 1920 1080`
[code]

Solution: use **--label** as your jpegs are named: for me **--label cropped_**

[2020-02-06 18:38] LexTypeC commented on #7
I presume by jpegs you means jsons, however in my example I believe I did that. For a directory full of jsons named along the lines of ` VelvetyAlertBackswimmer_000000000102_keypoints.json` I used the command:

 `./MocapNETJSON --from "~/Documents/output" --label VelvetyAlertBackswimmer_ --seriallength 12 --size 642 720`

Am I misunderstanding what was meant when you said that the label name shoul

[2020-02-07 12:21] Asdf11x commented on #7
No you didnt missunderstand it. Thats the way I was thinking of. Is it fine now?

[2020-02-07 16:03] LexTypeC commented on #7
Unfortunately not, the same issue from the start persists.

[2020-02-11 15:26] Asdf11x commented on #7
Coming back here againw ith the same problem. Next one is nearly the same:

`$ ./convertBody25JSONToCSV --from ~/Downloads/openpose_output/json/cropped --label cropped -o . --size 1280 720`

Getting the message:

I'm not sure how to handle this, because the COCO 2D skeleton was found for the opreation mentioned above. Maybe some loading problems with the paths of the models?

EDIT:

Added: **--ser

[2020-02-11 23:21] AmmarkoV commented on #7
Hello guys, thank you for the questions and I am really sorry for my late answer, it has been some pretty intense few weeks for me and that's the reason for my slow reflexes..!

An additional problem is that I actually maintain two versions of MocapNET this one and a development one hosted in a seperate private repository since it the project is an active development project for my PhD. However du

[2020-02-12 12:20] AmmarkoV commented on #7
Hello once again,
The commit : https://github.com/FORTH-ModelBasedTracker/MocapNET/commit/7ddcee133467b0ed6260a84141bef3c8cb827d40 tries to provide more information in the source code

I think that the [convertBody25JsonToCSV.cpp](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/Converters/convertBody25JsonToCSV.cpp) is now pretty well explained.

I will also add a link in the r

[2020-02-13 09:08] AmmarkoV commented on #4
Hello, if you have a sample small CSV file you generated ( like [this](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/dataset/sample.csv) ) I can take a look at it to maybe help you resolve the problem..

[2020-02-14 11:30] AmmarkoV opened #8 "GroundTruthGenerator compilation error after pulling latest master.."
Hello, if you get a compilation error on the GroundTruthGenerator after pulling the latest master this is because the dependencies/RGBDAcquisition also needs to be pulled.. I have added new functionality that can [filter out](https://github.com/AmmarkoV/RGBDAcquisition/blob/master/opengl_acquisition_shared_library/opengl_depth_and_color_renderer/src/Library/MotionCaptureLoader/edit/bvh_filter.c) B

[2020-02-18 12:16] AmmarkoV commented on #7
Closing this issue as the documentation has been improved to address the issue and there is no new response.!

[2020-02-18 12:16] #7 closed, assigned to AmmarkoV

[2020-03-10 10:51] #8 closed, assigned to AmmarkoV

[2020-03-24 09:19] AmitMY opened #9 "Documentation - Pretrained models"
Could you please document your pre-trained models, specifically, what they are expecting to get as an input?

I'm looking for a model that can minimally do body and hands, which I did see in your video:
![image](https://user-images.githubusercontent.com/5757359/77408788-e7e64e00-6dc0-11ea-803a-ea13120f1b1a.png)

But also for a model that can do body+hands+face. Do you have something pretrained lik

[2020-04-16 14:13] AmmarkoV commented on #9
Hello, as you mentioned, [the code-base can understand and parse hands and faces](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/MocapNET1/MocapNETLib/jsonCocoSkeleton.h#L520) coming from the OpenPose 2D pose estimator ( like the illustration you posted ) however as you have also said and noticed the provided pretrained models in this repository only cover the body..! ( the BV

[2020-04-16 14:13] #9 closed, assigned to nobody

[2020-04-17 02:54] Dahandla opened #10 "Can this Project run under Windows 10"

[2020-04-20 19:13] AmmarkoV commented on #10
No, this codebase only runs on Linux, the development platform is Ubuntu 18.04

[2020-04-23 09:48] simon-eda opened #11 "CMake Error at CMakeLists.txt:269 (add_subdirectory)"
Dear All!
many thanks for providing this fantastic code.
unfortunately i have an CMake error when running initialize.sh. which i can not solve by myself.
cmakeouput log is attached, error message below.

it would be great if you could help sovling the problem.

i am using ubuntu subsystem on win10. and in the begining of initialization following error occurs, which might be the root cause:

Will n

[2020-04-24 06:34] simon-eda commented on #11
If i don´t activate initialization of the MocapNETserver, i receive the error below.
Your help would eb highly appreciated.
Thanks,
Simon
--------------------------------
In file included from /home/simon/MocapNET/src/MocapNET1/MocapNETLib/mocapnet.cpp:1:0:
/home/simon/MocapNET/src/MocapNET1/MocapNETLib/../../Tensorflow/tf_utils.hpp:32:10: fatal error: tensorflow/c/c_api.h: No such file or directo

[2020-04-24 13:37] simon-eda commented on #11
Without initializing the Mocap server the initialization works.
thanks

[2020-04-24 13:37] #11 closed, assigned to nobody

[2020-04-25 22:15] simon-eda opened #12 "[ 21%] Building CXX object src/MocapNET1/MocapNETFromJSON/CMakeFiles/MocapNETJSON.dir/__/MocapNETLib/bvh.cpp.o"
Hi,
i always get following error, when i initialize MocapNET.
your help to solve the issue would be great.

Thanks,
Simon

[ 21%] Building CXX object src/MocapNET1/MocapNETFromJSON/CMakeFiles/MocapNETJSON.dir/__/MocapNETLib/bvh.cpp.o
/content/MocapNET/src/MocapNET1/MocapNETLib/bvh.cpp: In function ‘std::vector<std::vector<float> > convertBVHFrameTo2DPoints(std::vector<float>, unsigned int, unsigne

[2020-04-28 18:32] AmmarkoV commented on #12
Hello, I fixed the problem, I made a change on an other repository and forgot to commit here as well..
At least the BVH code works a little faster with it :)
If you git pull latest version it should now compile properly..!
https://github.com/FORTH-ModelBasedTracker/MocapNET/commit/5314bd500b78ca62dd36ba5b95c3407cc34fdfa2

[2020-04-30 10:55] felixgeen opened #13 "make: *** [Makefile:272: cmake_check_build_system] Error 1"
`The system is: Linux - 5.4.0-28-generic - x86_64
Compiling the C compiler identification source file "CMakeCCompilerId.c" succeeded.
Compiler: /usr/bin/cc
Build flags:
Id flags:

The output was:
0

Compilation of the C compiler identification source "CMakeCCompilerId.c" produced "a.out"

The C compiler identification is GNU, found in "/home/user/MocapNET/build/CMakeFiles/3.16.3/CompilerIdC/a.out"

[2020-05-01 11:00] simon-eda commented on #10
i run FORTH MocapNET using Windows Subsystem for Linux:
https://www.microsoft.com/de-at/p/ubuntu-1804-lts/9n9tngvndl3q?rtc=1

you need to install all basics (git clone, pip, anaconda) after installation.

[2020-05-02 04:20] delebash opened #14 "How do you install on Windows 10 linux subsystem?"
Ubuntu installs successfully.

Steps

1) git clone  https://github.com/FORTH-ModelBasedTracker/MocapNET.git

2) sudo apt-get update

3) sudo apt-get install build-essential cmake libopencv-dev libjpeg-dev libpng-dev libglew-dev

4) run ./initialize.sh

The problem I am running into is with step 4.

It gets to
 [ 21%] Building CXX object src/MocapNET1/MocapNETFromJSON/CMakeFiles/MocapNETJSON.dir/__

[2020-05-04 21:16] AmmarkoV commented on #14
Hello,
can you please provide the full output of cmake ?
the warning about line 116 is not the problem

[2020-05-04 21:31] AmmarkoV commented on #13
This is a huge cmake output that looks like CMake has an internal problem
Maybe for example if you   _sudo apt-get install build-essentials_ it could ensure that the cmake check finds everything that is missing..

That being said, if you can pull the latest master I added a small standalone hello world project to test your CMake
https://github.com/FORTH-ModelBasedTracker/MocapNET/tree/master/src/H

[2020-05-04 21:33] AmmarkoV commented on #13
Also I should mention that I have tested compilation on Ubuntu 20.04 (  Linux 5.4.0-28-generic #32-Ubuntu SMP Wed Apr 22 17:40:10 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
gcc (Ubuntu 9.3.0-10ubuntu2) 9.3.0 ) and it is working properly

[2020-05-04 21:36] AmmarkoV commented on #12
This is fixed so closing issue

[2020-05-04 21:36] #12 closed, assigned to AmmarkoV

[2020-05-05 19:13] delebash commented on #14
Here it is.  Thanks

[ 21%] Building CXX object src/MocapNET1/MocapNETFromJSON/CMakeFiles/MocapNETJSON.dir/__/MocapNETLib/visualization.cpp.o/home/delebash/MocapNET/src/MocapNET1/MocapNETLib/visualization.cpp: In function ‘int visualizeNSDM(cv::Mat&, std::vector<float>, unsigned int, unsigned int, unsigned int, unsigned int)’:
/home/delebash/MocapNET/src/MocapNET1/MocapNETLib/visualization.cpp:116

[2020-05-05 19:21] delebash commented on #14
I also ran your HellloWorld test project and it compiled successfully

[2020-05-06 09:53] AmmarkoV commented on #14
Hello so reading the cmake output notice that the errors are actually :

/home/delebash/MocapNET/src/MocapNET1/MocapNETLib/visualization.cpp:550:30: error: ‘CV_BGR2GRAY’ was not declared in this scope

/home/delebash/MocapNET/src/MocapNET1/MocapNETLib/visualization.cpp:1127:36: error: ‘CV_LOAD_IMAGE_COLOR’ was not declared in this scope

Compilation warnings are just warnings but they don't stop t

[2020-05-06 09:55] AmmarkoV commented on #10
So since it appears that the project can be run using the Windows subsystem for Linux I am closing this issue!

[2020-05-06 09:55] #10 closed, assigned to nobody

[2020-05-06 21:14] delebash commented on #14
Thank you for tge quick response,  I am still getting a couple of errors but the original as you noted has been fixed.  Thank you!

[ 72%] Building CXX object src/Webcam/CMakeFiles/OpenCVTest.dir/webcam.cpp.o
/home/delebash/MocapNET/src/Webcam/webcam.cpp: In function ‘int main(int, char**)’:
/home/delebash/MocapNET/src/Webcam/webcam.cpp:30:21: error: ‘CV_CAP_PROP_FRAME_WIDTH’ was not declared in t

[2020-05-06 22:25] AmmarkoV commented on #14
It is the same CV defines issue, just at a different part of the code, this time the part where I use OpenCV to grab a feed from the webcam..
I think I corrected it, so if you could try pulling and recompiling..
I think we are closing in on fixing this :)

[2020-05-06 23:00] delebash commented on #14
Thanks.  I think this should be the last one same prob

/home/delebash/MocapNET/src/MocapNET1/MocapNETLiveWebcamDemo/utilities.cpp: In function ‘std::vector<cv::Point_<float> > dj_getNeuralNetworkDetectionsForColorImage(cv::Mat, cv::Mat, std::vector<cv::Mat>, float, unsigned int, int, int, unsigned int, unsigned int, int)’:
/home/delebash/MocapNET/src/MocapNET1/MocapNETLiveWebcamDemo/utilities.cpp

[2020-05-07 08:30] AmmarkoV commented on #14
Ok try pulling/making once more!

[2020-05-07 15:14] delebash commented on #14
All fixed thank you very much and thanks for the program!

[2020-05-07 15:14] #14 closed, assigned to AmmarkoV

[2020-05-07 20:40] AmmarkoV commented on #14
Glad it works :) , thank you too for reporting the issue with the OpenCV defines to future proof the code!
Also I have a very big improvement in pose estimation accuracy ready and pending review so hopefully in the very near future 3D pose estimation will work better..!

[2020-05-07 23:28] delebash commented on #14
Sure.  Awesome looking forward to the update!

[2020-05-08 04:07] delebash opened #15 "Could not find COCO 2D skeleton"
I ran openpose with just the face option.  When trying to convert to bvh I get error Could not find COCO 2D skeleton in json/colorFrame_0_000000000000_keypoints.json

[2020-05-08 11:50] AmmarkoV commented on #15
Hello again , :)
The colorFrame_0_000000000000 is my internal naming scheme for the OpenPose output
This is an example dataset you can use to browse how I organize OpenPose data http://ammar.gr/datasets/shuffle.webm-data.tar.gz

Looking at the dataset  above and also reading the text in the conversion utility https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/Converters/convertBod

[2020-05-17 18:19] igormisha opened #16 "Can more skeleton bones be supported by MocapNet?"
I've watched the promo videos of results gotten with the library here:
https://www.youtube.com/watch?v=fH5e-KMBvM0
And I've looked through all 2-d points in your example .csv file here:
https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/dataset/sample.csv

From what I've seen the results are not accurate at least in two body areas, namely in the spine, which is not devided into parts,

[2020-05-18 10:07] AmmarkoV commented on #16
Hello,
The [BVH file used](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/dataset/headerWithHeadAndOneMotion.bvh) encodes the spine using Hip->Abdomen->Chest->Neck

As you correctly stated by adding more joints in the spine as is the case in the Blender/Makehuman skinned model, you can achieve more natural body moves, since the human spine is actually a dozen of joints concatenate

[2020-05-18 22:12] igormisha commented on #16
Ammar, first of all, big thanks for such thorough explanation of the problem, all this became clear now for me. Anyway, I have to say that this inaccuracy in results is very limiting in terms of possible applications. May be it can be improved, I could imagine some additional biomechanical considerations taking into account the distance (from point 1 to 8 on your picture, for example) and other da

[2020-05-19 14:02] AmmarkoV commented on #16
The goal of this work is affordable markerless real-time motion capture from RGB sources in a highly compatible format with existing software. Given that goal, any extra sources of data for the spine could of course improve the quality however ultimately go against the core idea of the project.

Just having a 20$ latex suit for example with red markers could be enough to get a much better result,

[2020-05-19 16:53] igormisha commented on #16
It's very enlightening info for me, really appreciative, Ammar! Your goal is really great, I was looking exectly for what you are trying to achive! What puzzles me is if there is so simple and cheap method to provide more accurate 2D pose essessments with more points to track by wearing marked latex why there are no open databases with such points so people like you could train their models on and

[2020-05-19 22:26] AmmarkoV commented on #16
To be perfectly honest I am pretty happy that there are at least some datasets available to the public like the [CMU Mocap](http://mocap.cs.cmu.edu/)/ [whose BVH conversion I use](https://sites.google.com/a/cgspeed.com/cgspeed/motion-capture/daz-friendly-release)that allowed me to train a network in the first place, there are also some new ones that contain [hands and faces](http://domedb.percepti

[2020-05-19 22:26] #16 closed, assigned to AmmarkoV

[2020-05-29 07:44] delebash opened #17 "File and path errors displayed as Could not find COCO 2D skeleton"
I ran into this when I did a webcam output from openpose.  With the webcam output there is no label so when I ran .`/MocapNETJSON --from openpose-input  --seriallength 12 --size 1920 1080` note without --label and that is when I get the error.  Also if I point to a wrong path by mistake the error above is also displayed.  Suggestion would be to make file path not found errors as just that and not

[2020-05-29 07:46] delebash commented on #15
AmmarkoV
Thank you very much for the help.  I actually found the problem that was causing my error. Please refer to issue https://github.com/FORTH-ModelBasedTracker/MocapNET/issues/17

Thanks

[2020-05-29 07:46] #15 closed, assigned to AmmarkoV

[2020-05-29 23:58] delebash opened #18 "Why is the motion capture applied to the model not smooth?"
In your video example of using makehuman, blender, and applying out.bvh the model motion is not very smooth.  It seems to be moving/jumping around.

I created the same animation using your example from openpose data and got the same results.

What am I doing wrong?

[2020-06-05 00:03] JustinB4 commented on #10
Don't forget to use the --novisualization argument.

[2020-06-09 08:54] AmmarkoV commented on #18
Hello, please specify which tool and what commandline parameters you are using, and which dataset so I can check for any new bugs etc..

However, and as stated in the [original method video](https://www.youtube.com/watch?v=fH5e-KMBvM0#t=3m58s) keep in mind that each frame of input is treated as standalone so there is no tracking or smoothing applied in the output in the original work ( This was a

[2020-06-09 10:39] AmmarkoV commented on #17
So to make it clear, you would prefer if an error occured when the label is missing to have a specific warning about that, and when the path is correct and there is a label wrong to have a specific warning about that.
Instead of the generic, did not find the skeleton ?

( I am trying to understand what I need to fix :) )

[2020-06-09 20:23] delebash commented on #17
Yes that is correct.  If I know it is a path error and not something else I can easily fix that.  Any time any error is related to path it would be nice to know.  As far as error handling goes any time you can be specific about the error thrown you should.

Thank you very much!
Dan

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Ammar Qammaz<mailto:notificatio

[2020-06-09 20:29] delebash commented on #18
Thanks.  I will do some testing in reference to your comments and see what I can find out.  I really appreciate your help and you have done an excellent job with this software.  I am looking forward to the new version.

[2020-06-15 09:20] AmmarkoV commented on #13
As I mentioned this is a CMake configuration error and after a few months of inactivity I am closing the issue

[2020-06-15 09:20] #13 closed, assigned to nobody

[2020-06-18 15:36] sohail759 opened #19 "cmakelist error 1"
nvidia@nvidia-desktop:~/Desktop/CONVSYS/MocapNET-master$ ./initialize.sh
Generating shortcut
CMU BVH datasets appear to have been downloaded..
mkdir: cannot create directory ‘combinedModel’: File exists
mkdir: cannot create directory ‘mode3’: File exists
mkdir: cannot create directory ‘mode5’: File exists
Downloading Models for mode 3/quality setting 1.0
mkdir: cannot create directory ‘1.0’: File

[2020-06-19 07:28] AmmarkoV commented on #19
Hello due to the multiple "exists" prompts of the initialize script, I suppose that the initialize script has already run once and downloaded all required things, so the actual problem is the CMake building procedure..
Reading the CMake output
The source "/home/nvidia/Desktop/CONVSYS/MocapNET-master/CMakeLists.txt" does not match the source "/home/nvidia/Desktop/MocapNET-master/CMakeLists.txt" use

[2020-06-19 07:46] AmmarkoV commented on #19
Also if you pull the latest master version the initialize script will automatically replace the build directory with a new one, probably solving your issue..

[2020-06-19 09:59] sohail759 commented on #19
Thanks alot for your help.can u please send me the link of updated one.
Regards

On Fri, 19 Jun 2020, 12:46 pm Ammar Qammaz, <notifications@github.com>
wrote:

[2020-06-20 19:06] beemsoft opened #20 "Build error on Jetson Nano"
Hi,

I'm trying to install MocapNET on a Jetson Nano.
When running the initialize.sh script, I'm getting the following error:
[code]
According to [https://forums.developer.nvidia.com/t/fatal-error-emmintrin-h-no-such-file-or-directory-compilation-terminated/46577](url), ARM CPUs do not support AMD x86_64 SSE/SSE2.

Do you know how this could be fixed on the Jetson Nano?

Greetings,
Hans Beemsterbo

[2020-06-22 11:42] AmmarkoV commented on #20
Hello,
I will use precompiler to disable this part of the code on ARM machines, overall it is not essential for compilation, since there is also a version of the call that can be optimized for ARM  so I will promptly fix it...!

If you are able to compile tensorflow and opencv ( which you can in a jetson ) the rest of the code should work fine without sse..!

[2020-06-22 11:49] AmmarkoV commented on #20
If you can run the [./update.sh](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/update.sh) script or manually git pull the dependencies/RGBDAcquisition repository and recompile the issue should be corrected..

[2020-06-22 11:52] AmmarkoV commented on #19
https://raw.githubusercontent.com/FORTH-ModelBasedTracker/MocapNET/master/initialize.sh

[2020-06-22 18:41] beemsoft commented on #20
Hi,
Thanks for this fix!
I could continue the build, but now I'm getting the following error:

`[ 10%] Built target GroundTruthDumper
Scanning dependencies of target MocapNETLib
[ 11%] Building CXX object src/MocapNET1/MocapNETLib/CMakeFiles/MocapNETLib.dir/mocapnet.cpp.o
[ 11%] Building CXX object src/MocapNET1/MocapNETLib/CMakeFiles/MocapNETLib.dir/__/__/Tensorflow/tf_utils.cpp.o
[ 11%] Linking

[2020-06-23 07:11] AmmarkoV commented on #20
Hello, this is a linker error that has to do with the build of the tensorflow library..

What I imagine that happened is that the [./initialize.sh script](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/initialize.sh#L182) tried to check if you have tensorflow installed in your system by probing /usr/local/lib/libtensorflow.so  ( [as seen in line 183](https://github.com/FORTH-Model

[2020-06-23 13:52] beemsoft commented on #20
Hi, thanks for the clear instructions for how to approach this.
Apparently, other people are also still busy with this: https://forums.developer.nvidia.com/t/tensorflow-libs-for-c-c-integration-on-jetson-nano/71706

For the moment, I'm switching back to my x86_64 laptop. I'm eager to do a test with MocapNET.
Hopefully, I can pick up this platform issue later on.

[2020-06-24 08:01] AmmarkoV commented on #20
I wish I could do more to help but unfortunately I don't have a Jetson available, it would be interesting for me as well to get a benchmark on such a system. :)  I am pretty sure the method will work >40fps  since all the CUDA stuff is available for the bundled 2D estimator which is the heaviest part of the RGB->3D  pipeline. Also for building it on ARM, I know that there are ARM versions of tenso

[2020-06-24 14:24] beemsoft commented on #20
The upcoming update looks very good, thanks for the preview!
At the moment, I'm testing OpenPose JSON output and let MocapNET generate the BVH file.

[2020-06-25 22:57] omegarunner1 opened #21 "Is it possible to use this without a webcam?"
Hello, I just found today and I've been looking for documentation on how to use what's available before I do some tinkering and one thing I found here is that it seems to require a webcam. I do not have a webcam but I have a smartphone I can film myself with. Is it possible to use this with prerecorded videos in any capacity? If it is, could it be explained how? And, if not, could such a thing be

[2020-06-26 07:19] AmmarkoV commented on #21
Yes of course, you can use the MocapNETLiveWebcamDemo utility with a video file..! I suppose the WebcamDemo in the executable name is a little misleading :) but you can use any OpenCV compatible source capture including :

- video file (eg. video.avi)
- image sequence (eg. img_%02d.jpg, which will read samples like img_00.jpg, img_01.jpg, img_02.jpg, ...)
- URL of video stream (eg. protocol://host

[2020-06-26 07:26] #19 closed, assigned to AmmarkoV

[2020-06-26 07:28] AmmarkoV commented on #21
Also as I already discussed with some other guys in this issues section keep in mind that I am waiting for some peer reviews, I have ~1 year of work that is waiting to get committed here that will be a pretty substantial improvement in pose estimation quality!

a preview of the next version, i.e.
[From this source video](https://www.youtube.com/watch?v=LgcP47DlChU) to [this BVH](http://ammar.gr/mo

[2020-06-26 08:07] AmmarkoV commented on #21
Closing this issue as it is possible to use MocapNET without a webcam! :)

[2020-06-26 08:07] #21 closed, assigned to AmmarkoV

[2020-07-07 09:35] HilmiiKumdakci opened #22 "2D-3D mapping part"
Hi,

Can I learn where the mapping part is where 2D-3D conversion is performed.

Thanks

[2020-07-10 12:25] AmmarkoV commented on #22
Hello

I am not sure that I understand your question. There is no clear "mapping" part.  MocapNET is an end-to-end neural network 3D pose estimator. The neural network has been trained to get NSDM matrices as Input and directly output BVH output.

![image](https://raw.githubusercontent.com/FORTH-ModelBasedTracker/MocapNET/master/doc/figureA.png)

![image](https://raw.githubusercontent.com/FORTH-Mo

[2020-07-16 08:33] AmmarkoV commented on #22
I suppose the question is answered so I am closing the issue!

[2020-07-16 08:33] #22 closed, assigned to AmmarkoV

[2020-08-10 17:52] scaledteam opened #23 "Instant segfault in all McapNET programs"
I can't run this programs after compile:
[code]
All this programs don't work - instant segafult. OpenCVTest works fine.
Please, help me to run your programs!
OS: Fedora 32

Also i notice some warnings while building:
[code]

[2020-08-11 08:40] AmmarkoV commented on #23
Hello what GCC version do you have ?
You can find this by issuing gcc --version

[2020-08-11 09:02] AmmarkoV commented on #23
This is probably a linking issue that has to do with the version of GCC and the Tensorflow library.
Another question is the application ./BVHGUI working or is it also segfaulting ?

I suppose until I get more feedback that what you can do is change CMake settings ( using cmake-gui ) and test if you can compile using gcc version 7 ( if it is available in your package manager )

![2020-08-11-123201_

[2020-08-11 12:38] scaledteam commented on #23
[code]

./BVHGUI segfaulting too.

Also, Fedora repositories doesn't contain GCC version 7. Probably i need to compile it. Will try it later.

[2020-08-11 12:56] AmmarkoV commented on #23
Ok interesting BVHGUI doesnt even use tensorflow so this is good, less surface to test
Weirldy enough  I have had a similar weird issue, with creating a window with controls in Qt (https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/BVHGUI/bvhgui.cpp#L34) ,   are you running Qt or GTK based window system ?

[2020-08-11 12:58] scaledteam commented on #23
I use Gnome 3.36.4 , it's GTK based.

[2020-08-11 13:00] scaledteam commented on #23
Disabling visualization doesn't help. =((((((((((((((
[code]

[2020-08-11 13:21] AmmarkoV commented on #23
Ok, gnome is good
It is a GCC related problem  so if GCC version 8 or 9 is available please try it I asked for GCC 7 because it is a pretty old and stable version
Trying to fix this let's focus on BVH GUI for the time being, I just made a commit where I have removed tensorflow from its linking so, try git pulling, recompiling and testing BVHGUI and tell me if the issue persists just for BVH GUI.

[2020-08-11 13:26] scaledteam commented on #23
Now BVHGUI works!

[2020-08-11 13:51] AmmarkoV commented on #23
Ok so what I did was to remove tensorflow linking from BVHGUI with this commit ( https://github.com/FORTH-ModelBasedTracker/MocapNET/commit/bc7769da6998a18baa71695ec6ebb207b449490b ) and this "fixed" its compilation ..

Other good news I can reproduce the problem in GCC v9 so

The problem is Tensorflow/GCC9+ linking

![screen-2020-08-11-16-47-42](https://user-images.githubusercontent.com/97630/899

[2020-08-11 14:12] AmmarkoV commented on #23
Well after make clean and rebuilding everything everything works on GCC9 :S
http://ammar.gr/mocapnet/mnetgcc9.mkv
We should also focus on ./MocapNETBenchmark

[2020-08-12 08:05] AmmarkoV commented on #23
I tested building the project using GCC-10 and everything compiles and runs without problems
![screen-2020-08-12-11-04-20](https://user-images.githubusercontent.com/97630/89990842-9e24d400-dc8b-11ea-935f-b05edb250575.jpg)

I have made some small changes in the CMake files, maybe try git pulling, recompiling and running the MocapNETBenchmark test
and see if you get the "MocapNET Benchmark" printf v

[2020-08-12 13:13] scaledteam commented on #23
Hi! Now benchmark works fine.
https://scaledteam.ru/p/MOCAP-Log-1.html

[code]

[2020-08-12 13:22] scaledteam commented on #23
Oooops, i accidentally compiled your project with Clang. But my previous compilation attempts with CLang produced exactly the same segfault as gcc.

Now I recompiled it with GCC and benchmark works too.
https://scaledteam.ru/p/MOCAP-Log-2.html

[2020-08-12 18:12] AmmarkoV commented on #23
Ok so running
`./MocapNETLiveWebcamDemo --from shuffle.webm
` segfaults ?

[2020-08-12 18:18] scaledteam commented on #23
Yes

[2020-08-12 23:27] AmmarkoV commented on #23
Hello please try pulling and recompiling latest master
then running
`./MocapNETLiveWebcamDemo --from shuffle.webm`

If it fails then try executing
`scripts/debug.sh`

The [debug.sh script](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/scripts/debug.sh) will generate an error.txt file which you can attach here so that I might take a look ..

[2020-08-13 00:05] scaledteam commented on #23
Segfault too.
https://scaledteam.ru/p/MocapNET-error.txt

Also, maybe problem im my system? What can i check?

[2020-08-13 09:07] AmmarkoV commented on #23
The problem is a null pointer reference in /usr/lib64/libprotobuf.so.22.0.2

`
==53710== Invalid read of size 1
==53710==    at 0x1F357397: google::protobuf::internal::AddDescriptors(google::protobuf::internal::DescriptorTable const*) (in /usr/lib64/libprotobuf.so.22.0.2)
==53710==    by 0x40117B1: call_init.part.0 (in /usr/lib64/ld-2.31.so)
==53710==    by 0x40118C0: _dl_init (in /usr/lib64/ld-2.

[2020-08-13 09:25] scaledteam commented on #23
I'm use version, downloaded from initialize.sh . But all commands with apt-get failed, because Fedora use DNF as package manager. I just downloaded similar packages using DNF.

After update and rebuild LD warnings disappeared, but notning changed. Segfault appear again in ./MocapNETLiveWebcamDemo. Benchmark works fine.

Also, i launched debug script and it created gigantic log (250 MB)
https://sca

[2020-08-13 22:27] AmmarkoV commented on #23
Unfortunately I cannot pinpoint the problem..

GCCv10 seems to be working ok since I tested on my system,   OpenCV is properly set up and working on your system since the OpenCVTest and BVHGUI applications work ,  the Tensorflow only code  appear to be working ( SimpleBenchmark ), I have no idea why their combination is not working and from the error output it appears that the libprotobuf is the c

[2020-08-14 04:30] scaledteam commented on #23
[code]

I tried to make links to all opencv libraries and got link error.
[code]

[2020-08-14 04:34] AmmarkoV commented on #23
Ok I will also pack my OpenCV libs in redist gimme a sec

[2020-08-14 04:36] scaledteam commented on #23
Also, i got Illegal instruction error in Benchmark, not only link error.

[2020-08-14 04:43] AmmarkoV commented on #23
Illegal instruction means that your CPU probably does not support SSE or AVX instruction sets
http://ammar.gr/mocapnet/redist_2020_08_14.tar.gz this also has the OpenCV libs inside

[2020-08-14 05:04] scaledteam commented on #23
Problems with linking again. Many-many libraries missing. AmmarkoV, please advise some GNU/Linux distribution, where your programs works.

[2020-08-14 09:52] AmmarkoV commented on #23
Ubuntu 18.04 / 20.04

[2020-08-18 17:24] omegarunner1 opened #24 "How to install and run the program"
Alright, so I'm having huge issues trying to get the program to install, build, and run on Zorin OS. Specifically none of the scripts I ran seem to work and the program is having a hard time finding the existence of the files. So I need someone to please post an in-depth tutorial so I can use the program. I'm not exactly experienced with Linux on the whole but the readme on the front of the page i

[2020-08-18 17:52] omegarunner1 commented on #24
Okay, I found the problem. In using the initialize.sh script and all that, I found it works better if you replace the . with an *. That seems to solve the issue.

[2020-08-18 17:52] #24 closed, assigned to nobody

[2020-09-03 04:14] shichaog opened #25 "Upper body pose estimation"
Hey @AmmarkoV @padeler @nkyriazis ,
Pleased to see this amazing work.
I need a help from you.
I changed int MAXIMUM_NUMBER_OF_NSDM_ELEMENTS_MISSING=110 to value 133 for upper body estimation, but the estimation results is not good.
Would you help update a new model or how can I train a new model for upper body estimation.
Thanks!

[2020-09-03 09:15] AmmarkoV commented on #25
Dear @shichaog  the new version of MocapNET that is ready and is pending review for publication already does what you request! So I don't need to train a new model :)  MocapNET2 is natively split in upper and lowerbody parts so even in the presence of severe occlusions (i.e. all the lower body missing) you are able to still get a good estimation for the upperbody.

Unfortunately I am unable to pub

[2020-09-04 07:14] shichaog commented on #25
@AmmarkoV Thanks for your patient explanation and excellent work. I'll try your suggestions, but as well  I'm looking forward to the publish date.

[2020-09-09 07:14] FrankYoungchen opened #26 "why use './initialize.sh' appear './MocapNET-master/src/MocapNETServerHTTP does not concatin a CMakeLists.txt file'"
hi,bro
when I why use './initialize.sh' ,
it will appear CMake Error at CmakeLists.txt:273(add_subdirectory):
The source directory
    ./MocapNET-master/src/MocapNETServerHTTP
does not concatin a CMakeLists.txt file

make: *** No targets specified and no makefile found. Stop

[2020-09-09 10:31] AmmarkoV commented on #26
Hello!
I will correct this now,
this HTTP stuff was for some experiments using a remote server but it is really not needed and just needless complexity that has been removed..!

[2020-09-09 10:37] AmmarkoV commented on #26
If you git pull and try to rebuild it should build correctly now..!

[2020-09-09 10:39] FrankYoungchen commented on #26
ok，thx～

[2020-09-10 01:23] FrankYoungchen commented on #26
hi,bro,I have git pull, and `./initialize.sh, `but it appear error:
[code]
So what should I do？

[2020-09-10 02:09] FrankYoungchen commented on #26
It will be OK after I fix tensorflow edition

[2020-09-10 07:42] AmmarkoV commented on #26
If you look at the initialize.sh script from lines [169](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/initialize.sh#L169) to [216](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/initialize.sh#L216) it downloads tensorflow C-API 1.1x and uncompresses it in dependencies/libtensorflow/

This

[code]

error means that the libtensorflow stuff it is not there..!

![20

[2020-09-11 09:41] AmmarkoV commented on #26
I have corrected the issue so I am closing this ticket.!
In case the tensorflow issue persists [ or you have another problem ] feel free to open a new issue that has it as the title ( so someone else experiencing the problem will find it )

[2020-09-11 09:41] #26 closed, assigned to AmmarkoV

[2020-09-14 17:43] AmmarkoV commented on #4
I have given a [CSV file example](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/dataset/sample.csv), that can be used to package any 2D estimator output and enable its processing by MocapNET, adding native support for multiple 2D estimators is beyond the scope of this repository so I am closing to this issue! :)
In case of questions on how to package 2D input feel for MocapNET fr

[2020-09-14 17:43] #4 closed, assigned to nobody

[2020-10-09 02:29] FrankYoungchen opened #27 "OpenGL can not visualization"
hi,bro,I want to use OpenGL visualization to render a skinned mesh
`./MocapNETLiveWebcamDemo --from shuffle.webm --openpose --opengl --frames 375`
I try to change ENABLE_OPENGL to on during compilation and using the --opengl flag when running the MocapNETLiveWebcamDemo
But I can not  see the experimental OpenGL visualization

[2020-10-09 19:51] merltron commented on #27
I had same problem a week ago...I updated `build/CMakeCache.txt` and changed the line `ENABLE_OPENGL:BOOL=OFF` to `ENABLE_OPENGL:BOOL=ON`. After compiling again, it worked with the command you mentioned. Not sure why I had to change the CMakeCache but at least it worked.

[2020-10-10 12:59] AmmarkoV commented on #27
Hello guys,  I typically use cmake-gui to set/unset the variables ( sudo apt-get install cmake-qt-gui )

![screen-2020-10-10-15-43-15](https://user-images.githubusercontent.com/97630/95655359-601f2180-0b0f-11eb-93ed-1a9d228d2e03.jpg)

So inside the build directory if you "cmake-gui .."  you will bring up the menu of the screenshot above where you can enable the openGL code ( ENABLE_OPENGL flag ) t

[2020-10-12 19:38] AmmarkoV commented on #18
The motion is much smoother than previous version [after transitioning to MNET2](https://github.com/FORTH-ModelBasedTracker/MocapNET/commit/5e0c8d41e7afba7266cba0e239abe40a51aad950)  so I am closing this issue, if you are still having problems feel free to open a new one..!

[2020-10-12 19:38] #18 closed, assigned to AmmarkoV

[2020-10-12 19:39] AmmarkoV commented on #25
Upper/Lower body pose estimation [has been implemented and is now available](https://github.com/FORTH-ModelBasedTracker/MocapNET/commit/5e0c8d41e7afba7266cba0e239abe40a51aad950)

[2020-10-12 19:39] #25 closed, assigned to AmmarkoV

[2020-10-12 19:43] AmmarkoV commented on #17
There is a [new tool to dump datasets](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/scripts/dump_and_process_video.sh) and CSV files make file and path errors obsolete..!

[2020-10-12 19:43] #17 closed, assigned to AmmarkoV

[2020-10-12 19:45] AmmarkoV commented on #27
Please note that after the [upgrade to Mnet2](https://github.com/FORTH-ModelBasedTracker/MocapNET/commit/5e0c8d41e7afba7266cba0e239abe40a51aad950) a lot of stuff has changed.. OpenGL code is still in experimental status, hopefully it will work for you..

[2020-10-13 08:59] FrankYoungchen commented on #27
thanks! I debug it and I find that My opengl is not installed well

[2020-10-13 21:03] AmmarkoV commented on #27
Ok :)
In ubuntu typically doing sudo apt-get install freeglut3-dev libglew-dev mesa-utils you can get the "minimum" gl stuff
If you try running glxgears and you see the gears spinning it means that X-Server can properly render.

If you want standalone OpenGL stuff to test if you check inside dependencies//RGBDAcquisition/opengl_acquisition_shared_library/opengl_depth_and_color_renderer/src/Library

[2020-10-13 21:27] AmmarkoV commented on #27
Also maybe the new BVHGUI2 is a good way to test the OpenGL stuff

![BVHGUI](https://raw.githubusercontent.com/FORTH-ModelBasedTracker/MocapNET/master/doc/BVHGUI2.jpg)

[code]

[2020-10-13 21:31] AmmarkoV commented on #23
There are massive changes in the MocapNET2 release and the ./MocapNETBenchmark no longer exists so I am closing this issue due to inactivity. The new version may probably solve some problems as well as create new ones, feel free to create a new issue if problems persist.

[2020-10-13 21:31] #23 closed, assigned to AmmarkoV

[2020-10-13 21:37] AmmarkoV commented on #20
Due to the new release having reworked a *lot* of the back-end of the project this issue is outdated.

The main issue with Jetson support is NVIDIA CUDA/tensorflow support,  OpenCV2 can be properly compiled in this platform, and MocapNET source is "compileable" on most ARM devices when the INTEL_OPTIMIZATIONS CMake flag is not enabled ( albeit with slightly worse performance ). I am thus closing t

[2020-10-13 21:37] #20 closed, assigned to AmmarkoV

[2020-10-14 09:51] AswinkarthikeyenAK opened #29 "CMake error Jetson NX"
Hi,
I am having the following cmake error. Can you kindly help with the error if possible?
I am using Jetson Xavier NX.

Thanks

`[ 38%] Linking CXX shared library ../../../../libMocapNETLib2.so
../../../../dependencies/libtensorflow/lib/libtensorflow.so: error adding symbols: File in wrong format
collect2: error: ld returned 1 exit status
src/MocapNET2/MocapNETLib2/CMakeFiles/MocapNETLib2.dir/bui

[2020-10-14 13:41] AmmarkoV commented on #29
Hello,
This is the same issue as https://github.com/FORTH-ModelBasedTracker/MocapNET/issues/20
The problem you are facing is that [the libtensorflow.so downloaded by the initialize.sh script](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/initialize.sh#L152) is compiled for x64 CPUs and not ARM/Jetson machines..

You need to find/build  tensorflow 1.1x for your platform and replac

[2020-10-14 15:24] Crackpack opened #30 "Issue with installation on Ubuntu20 on Windows 10 machine"
I am using ubuntu 20.04 on linux (Previous MocapNET version had no issue)

OpenCV version 4.2
CUDA version 10.1.243

CMAKE ERROR:
[code]

If I replace CV_AA with CV_MSA...build will be successful...but when i run command:
`./MocapNET2LiveWebcamDemo --novisualization --from shuffle.webm --openpose `

I get error:
[code]

out.bvh file is not generated.

[2020-10-14 19:04] beemsoft opened #31 "MocapNET2CSV demo not starting up"
Hi Ammar,
The MocapNET2CSV demo doesn't seem to work.

When I run with:
`./MocapNET2CSV --from sample.csv --visualize --delay 30`

I'm getting a message "TODO: do face associations.."

[2020-10-15 07:52] AmmarkoV commented on #30
You have not run the initialize.sh script and you do not have [the tensorflow networks required](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/initialize.sh#L114)

[2020-10-15 08:12] AmmarkoV commented on #31
The CSV file you tried running was a left-over from the MocapNET1 release so I updated it to a new one ( basically the  difference is that new csv files have prefix columns to accomodate multiple persons [ multiple persons are not yet supported btw ]  )

Please try git pulling and running your command again..

[code]

If you want a "bigger" dataset you can [try this one ~1.5GB](http://ammar.gr/dat

[2020-10-15 08:53] FrankYoungchen opened #32 "could not create cudnn handle:CUDNN_STATUS_INITERNAL_ERROR"
Hi,bro
After  './update.sh' and './initialize.sh', after caching model,it will be
`'E tensorflow /stream_execuor/cuda/cuda_dnn.cc::329',could not create cudnn handle:CUDNN_STATUS_INTERNAL_ERROR'`

[2020-10-15 08:54] FrankYoungchen commented on #32
The last version did not have this ERROR

[2020-10-15 09:00] FrankYoungchen commented on #32
![Uploading WeChata1b38d9ed75cb8bb820cb19ec873b24d.png…]()

[2020-10-15 09:02] FrankYoungchen commented on #32
The previous version did not have this ERROR

[2020-10-15 09:36] AmmarkoV commented on #32
Well new version loads 3x as many networks so this is probably an "out-of-memory" error ?
What is you RAM size / GPU RAM size?

[2020-10-15 09:38] FrankYoungchen commented on #32
GPU is nvidia@2080ti

[2020-10-15 09:40] AmmarkoV commented on #32
Ok .. :P what tensorflow/cuda version do you have ? This may then be the fact that tensorflow 1.14 build with CUDA10 in mind might not be forward compatible with such a new GPU ?

Also can you supply the whole output of the application, maybe there is another hint somewhere

[2020-10-15 09:47] FrankYoungchen commented on #32
tensorflow 1.14、cuda 10、cudnn 7.4.2，wait me moment，I will print log

[2020-10-15 09:55] AmmarkoV commented on #32
Ok also maybe test if running with --cpu to force CPU only mode works..

[2020-10-15 10:05] FrankYoungchen commented on #32
Because the company process log can only be given to you tomorrow，
Whether it is cpu or gpu，it will appear `'GLib-GObject-CRITICAL **:g_object_unref:assertion 'G_IS_OBJECT(object)'failed'`

[2020-10-15 10:14] FrankYoungchen commented on #32
[log.txt](https://github.com/FORTH-ModelBasedTracker/MocapNET/files/5384061/log.txt)
hi,it is log,thx!!!

[2020-10-15 11:38] Crackpack commented on #30
After the update and installing tensorflow 1.14.0 , ` ./initialize.sh`  builds successfully.
But on runing,
`./MocapNET2LiveWebcamDemo --novisualization --from shuffle.webm  `

I faced 2 more issues :

**1 DATASET POSES CORRUPTED WARNING**
[code]

**2. TRYING TO OPEN DISPLAY EVEN NOVISUALIZATION IS ADDED IN PARAMS:**
[code]
out.bvh file is not generated

[2020-10-15 14:47] PiotrMi opened #33 "Demo not working on Google Colab"
Tried on a GPU runtime

Colab link:
[https://colab.research.google.com/drive/19UM6NAcmEeUUbSkjlJniWSs9bc4V-c4s?usp=sharing](https://colab.research.google.com/drive/19UM6NAcmEeUUbSkjlJniWSs9bc4V-c4s?usp=sharing)

Command:

`./MocapNET2LiveWebcamDemo --from shuffle.webm --openpose --frames 375 --delay 1000 --novisualization`

Output:
[code]

[2020-10-15 15:02] AmmarkoV commented on #33
Hello,
You are right, the new version no longer had a "headless mode" during the transition from MocapNET 1
I am adding it back in..!

[2020-10-15 15:16] AmmarkoV commented on #33
Please git pull / recompile and test again, it should work now..!

[2020-10-15 15:21] PiotrMi commented on #33
Thanks a lot, it works!

[2020-10-15 15:21] #33 closed, assigned to AmmarkoV

[2020-10-15 16:02] AmmarkoV commented on #30
The second new issue is now fixed :
Other users also reported it https://github.com/FORTH-ModelBasedTracker/MocapNET/issues/33
Try git pulling rebuilding and rerunning your command and it should now work..
You can ignore the gesture issue 1 and the related gesture code spam I will deactivate it completely so it doesn't clutter the console

[2020-10-15 16:10] #27 closed, assigned to AmmarkoV

[2020-10-15 16:17] AmmarkoV commented on #32
The log reveals that the problem is actually the video file..!
[code]

[code]
A thing we can try is a different video file
go inside the MocapNET directory and do
[code]
Does it work? If not what is the new output log ?

[2020-10-15 17:58] Crackpack commented on #30
its working fine with the new update.

[2020-10-15 17:58] #30 closed, assigned to AmmarkoV

[2020-10-16 03:33] FrankYoungchen commented on #32
Hello，it works in CPU，but not in GPU，Maybe my CUDA and Cudnn has problem
Here is log in GPU
[log.txt](https://github.com/FORTH-ModelBasedTracker/MocapNET/files/5389028/log.txt)

[2020-10-16 07:49] AmmarkoV commented on #32
If it works in CPU then for sure the problem is your CUDA and CUDNN, I have changed the initialize script and now tensorflow 2.x is supported so try installing [CUDA10](https://developer.nvidia.com/cuda-10.0-download-archive?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu) , [cudnn-10.0-linux-x64-v7.6.5.32.tgz](https://developer.nvidia.com/cudnn)  and the  [Tensorflow 2.3.1](https://storag

[2020-10-16 07:50] FrankYoungchen commented on #32
yes，sir～

[2020-10-16 19:59] AmmarkoV opened #34 "/usr/bin/ld: ../../../../dependencies/libtensorflow/lib/libtensorflow.so: .dynsym local symbol at index 3 (>= sh_info of 3)"
There is a compilation warning appearing during the final linking stages of the build procedure

/usr/bin/ld: ../../../../dependencies/libtensorflow/lib/libtensorflow.so.2: .dynsym local symbol at index 3 (>= sh_info of 3)
or
/usr/bin/ld: ../../../../dependencies/libtensorflow/lib/libtensorflow.so: .dynsym local symbol at index 3 (>= sh_info of 3)

There is probably something going wrong with the

[2020-10-16 20:04] AmmarkoV commented on #34
Apparently using the gold linker fixes this.. ( -fuse-ld=gold )
https://sourceware.org/bugzilla/show_bug.cgi?id=25135

[2020-10-17 12:00] AmmarkoV commented on #31
I am closing this since I am 100% sure that I updated the sample file and fixed the issue!
[code]
now works

[2020-10-17 12:00] #31 closed, assigned to AmmarkoV

[2020-10-18 10:08] Crackpack opened #35 "command with IK not working / flipped hip rotation output"
If i run following command,
`./MocapNET2LiveWebcamDemo --novisualization --from shuffle.webm --ik 0.01 15 40`

if gives me following error:
Visualization disabled
`Incorrect number of arguments, 4 required ( @ --ik )..`

Also, I ran :
./MocapNET2LiveWebcamDemo --novisualization --from sample.mp4  --openpose

for the video mentioned and sample output......my output file is not quite good as the sam

[2020-10-18 13:24] AmmarkoV commented on #35
A) For the --ik error

The current [master version now requires 3 parameters for the --ik switch](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/MocapNET2/MocapNETLib2/applicationLogic/parseCommandlineOptions.cpp#L209), however it appears you have an older snapshot of the code  that used to require 4 arguments ( so at your applicationLogic/parseCommandlineOptions.cpp#L209 it a

[2020-10-18 15:45] AmmarkoV commented on #29
Tensorflow 2.3+ is now also compatible with MocapNET  so it is also an option if you can find a build for Jetson NX

[2020-10-18 21:12] Crackpack commented on #35
Sir, I tried the 1.5GB(http://ammar.gr/datasets/sven.mp4-data.tar.gz) dataset by using following commands in Ubuntu on windows os and different ubuntu machine:
[code]

`./MocapNET2CSV --from frames/sven.mp4-data/2dJoints_v1.4.csv --show 3  --mt`

the resulting out.bvh look same as:
https://drive.google.com/file/d/1_49-f8K3uohBCJjK6ElbuCFfrzkFzRla/view?usp=sharing

the visualization window shows ac

[2020-10-19 01:45] FrankYoungchen opened #36 "OpenGL error after getOpenGLColor()"
Hi,bro,after I solve the Nvidia problem,I run the `--opengl` and I meet a new problem
[code]

[2020-10-19 07:42] #32 closed, assigned to AmmarkoV

[2020-10-19 09:13] AmmarkoV commented on #35
I think that the problem you are experiencing is that the camera of the 1.5GB video is not static, if you open the bvh file you sent me and you look at it from a camera with a 0 degrees pitch it might look "incorrect" or like its bending forward

![2020-10-19-113353_3840x1080_scrot](https://user-images.githubusercontent.com/97630/96421220-2d57e600-11ff-11eb-9459-641eaf5e1c1d.png)

However if you l

[2020-10-19 09:21] AmmarkoV commented on #36
Can you give me a full log?
This could be multiple things!

[2020-10-19 09:49] FrankYoungchen commented on #36
Hi，This is a full log
[log_opengl.txt](https://github.com/FORTH-ModelBasedTracker/MocapNET/files/5400857/log_opengl.txt)

[2020-10-19 11:16] AmmarkoV commented on #36
I think the problem might be that for some reason your OpenGL setup does not allow offscreen pbuffer rendering..

One thing you can try is change [opengl.cpp#L31](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/MocapNET2/MocapNETLib2/visualization/opengl.cpp#L31)
from

[code]

to

[code]

After recompiling and rerunning  this will spawn an additional OpenGL window which will ge

[2020-10-20 02:12] FrankYoungchen commented on #36
For my development PC I have

glxinfo | grep OpenGL
[code]

[2020-10-20 02:58] FrankYoungchen commented on #36
you are right，after` glxinfo| grep render`，I find not direct rendering

[2020-10-20 08:06] Crackpack commented on #35
Sir, I tried all the mentioned options you provided ...somehow i still feel ...visualization is way smoother than the bvh file. I also noticed that all the transformations were on Euler ...do you think converting instead to  Quaternion transformation would give better results? (just a guess).
https://drive.google.com/file/d/1E_g8VLqQaNrwNKNrekvp93IgUI0NfREf/view?usp=sharing
This is the result of s

[2020-10-20 08:06] AmmarkoV commented on #36
I am closing this issue since it is not related to MocapNET

[2020-10-20 08:06] #36 closed, assigned to AmmarkoV

[2020-10-20 08:45] AmmarkoV commented on #35
It appears you are right..!
There is a problem, for some reason on the blender renderer the hip rotation of the skeleton is flipped..

I think the problem is that the Hip joint is   CHANNELS 6 Xposition Yposition Zposition **Zrotation Yrotation Xrotation** instead of Z X Y like the rest of the joints and I am losing a conversion somewhere..!

![2020-10-20-113549_3840x1080_scrot](https://user-image

[2020-10-20 08:50] AmmarkoV commented on #35
My 3D model math is also correct ( as seen in the OpenGL overlay ) so I am narrowing down on the problem..

![2020-10-20-114956_3840x1080_scrot](https://user-images.githubusercontent.com/97630/96563253-68731b80-12ca-11eb-9e70-5bc722a3d692.png)

[2020-10-20 09:03] AmmarkoV commented on #35
Fixed it, I will now commit the fix..!
![2020-10-20-120241_3840x1080_scrot](https://user-images.githubusercontent.com/97630/96564702-2f3bab00-12cc-11eb-88c5-ba5738247c6c.png)

[2020-10-20 09:09] AmmarkoV commented on #35
Please git pull, rebuild and try it out!  ( for sure you dont need the --dontbend flag now :) )
Thank you for opening this issue @Crackpack , you have a good eye! :+1:

[2020-10-20 16:25] Crackpack commented on #35
Yes sir...Now I can confirm..its way smoother in bvh also. Sorry for poking too much though. :D

[2020-10-20 18:31] AmmarkoV commented on #29
@AswinkarthikeyenAK  also consider [this script](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/scripts/tensorflowBuild.sh) that might help you build tensorflow on your Jetson device..

[2020-10-21 09:12] AmmarkoV commented on #29
I "found" a Jetson TX2 so I will try building there when I get the chance

[2020-10-21 09:18] AmmarkoV opened #37 "Support for NVIDIA TRT Pose 2D joint input"
There are some very high performance single person 2D joint estimators like
https://github.com/NVIDIA-AI-IOT/trt_pose
This could be a great alternative to the currently deployed 2D neural networks that will allow much faster pose estimation since the 2D joint estimator is currently the bottleneck of MocapNET.

[2020-10-28 18:49] saksham117 opened #38 "libopencv_freetype.so.3.2.0: error: undefined reference / Project Not Working on Google Collab"
Hi.
So, by referring to a previous issue ( #33 ) , I tried to run this on Google Collab.
Here is the link to my Google Collab Notebook
https://colab.research.google.com/drive/1-j-EhXFmeKO7EONP-DiHIEGomu20n9vn?usp=sharing

However I ran into another problem while running the initialization scripts.

[code]

Please take a look at this.

P. S.

Thanks for this great repo and sharing it with the world

[2020-10-28 19:13] ghildebrandt commented on #38
Hello,

i face the same problem on a fairly clean install of Ubuntu 18.04 where only OpenPose has been built. Same errror output.

[2020-10-29 04:17] whitealex95 opened #39 "train/test source code?"
Hi, I am trying to reproduce your model on my custom dataset.
Is there any source code on how you trained the model available?
Thanks

[2020-10-29 12:29] AmmarkoV commented on #38
I think this is caused by the "gold" linker, please try pulling and rebuilding, I think it should work now..

[2020-10-29 12:35] AmmarkoV commented on #39
Hello,
The testing code used on the paper requires the [Human3.6M data](http://vision.imar.ro/human3.6m/description.php)
I have converted it to CSV files for my use, however the H36M license prevents me from re-circulating them so I am afraid I can't help on that end.

If you want to re-create the data that can be used to train a MocapNET-like network, and assuming you selected [Y when asked to do

[2020-10-29 16:39] ghildebrandt commented on #38
I have tried to build it and can confirm it worked

[2020-10-29 16:50] AmmarkoV commented on #34
Had to roll back the fix since the gold linker causes a more serious compilation issue https://github.com/FORTH-ModelBasedTracker/MocapNET/issues/38 when linking libfreetype

[2020-10-29 16:58] AmmarkoV commented on #39
Also python code on reading CSV files and comparing stuff is here :
https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/python/compareUtility/compareUtility.py#L146

[2020-10-30 10:00] AmmarkoV commented on #38
This is confirmed fixed, so I am closing the issue..!

[2020-10-30 10:00] #38 closed, assigned to AmmarkoV

[2020-11-01 11:51] saksham117 commented on #38
Thanks a lot Ammar.
Its now working perfectly fine!!!

[2020-11-01 12:19] #39 closed, assigned to AmmarkoV

[2020-11-01 18:56] omegarunner1 opened #40 "No OpenCV"
Hello, I'm attempting to install MocapNET on my system and, after figuring out all the syntax, going through tutorials, and finally running the initialize.sh script, MocapNET is not installing because it's not installing OpenCV. I don't think I'm supposed to do that myself because it's not listed on the front that anything besides the initialize.sh is required but regardless it doesn't seem to be

[2020-11-02 10:02] AmmarkoV commented on #40
The [initialize.sh script will try to install OpenCV](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/initialize.sh#L21)

so
[code]
 is not working for you?

[2020-11-02 16:39] omegarunner1 commented on #40
That's the weird thing, that particular script seems to work but, when initialize.sh runs, it says there is no OpenCV. I'm not sure what the problem is here, I'm just reporting it.

[2020-11-02 16:47] omegarunner1 commented on #40
Okay, so an update. I attempted the installs again just now, and it seems to be working just fine. This is something that happens to me quite a bit when I'm dealing with new technology, for whatever reason, I'll attempt something the right way, I do it the right way but it doesn't work, I'll ask for help, then when people get concerned, I try again and it just works magically. I don't know what we

[2020-11-03 08:52] AmmarkoV commented on #40
It's ok, happy everything worked out !
The truth is that setting everything up on an arbitrary computer has a lot of points of failures, this is exactly why I opted for an initialize.sh script to try and take care of the various aspects that could go wrong..
The logs show compilation stopped before an OpenCV error, in any case since you managed to get it running I am closing this issue!

[2020-11-03 08:52] #40 closed, assigned to AmmarkoV

[2020-11-03 10:14] whitealex95 opened #41 "Tensorflow/Keras code for training on custom dataset"
Hi, I want to use your mocap net architecture on my custom dataset.
Your paper says that you trained the model using the tensorflow/keras, but I have hard time finding out how the network architecture is actually created.
Is the training part of the code (data preprocessing / ensemble / SNN network architecture / lr scheduling, etc) available?
Thanks alot

[2020-11-03 11:49] AmmarkoV commented on #41
Hello, due to limitations imposed by [FORTH](https://www.ics.forth.gr/) the training code is not and will not be available, we are just publishing the demo and the pretrained networks used in the paper under [this](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/license.txt) license. This is not my decision and not my fault, its institute policy :(

The ensemble architecture is tho

[2020-11-03 11:54] #41 closed, assigned to AmmarkoV

[2020-11-06 01:34] GilbertLau opened #42 "MocapNET2CSV Could not connect: Connection refused"
Hi,

I am running Ubuntu 18.04 via VirtualBox in Windows 10.

When I run MocapNET2CSV, I got the following error

loadCalibration (null), color.calib
Failed @ loadCalibration (null), color.calib
Unable to init server: Could not connect: Connection refused

Any hints on how to solve that?   Thanks.
![image](https://user-images.githubusercontent.com/28424275/98315418-1690fc00-2013-11eb-878a-877d83df

[2020-11-06 02:49] GilbertLau commented on #42
Solved.   For those who got the same error.  parameter --novisualization is required.

[2020-11-06 02:49] #42 closed, assigned to nobody

[2020-12-04 02:47] fauzan923 opened #43 "The link to the documentation from json file to bvh not working"
Hi i would like to report that this link, https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/Converters/convertBody25JsonToCSV.cpp#L2 is not working anymore
![Screenshot from 2020-12-04 09-46-26](https://user-images.githubusercontent.com/58033414/101115296-b42d1a80-3615-11eb-9bc5-b7de6efa77d9.png)

[2020-12-07 17:04] AmmarkoV commented on #43
Hello,
This is part of the MocapNET 1 release that has been moved to the mnet1 branch :
The path to the file is now :
https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/mnet1/src/Converters/convertBody25JsonToCSV.cpp

in MocapNET2 the converter tool can now also handle hands and face ( thus not only body25 ) and has been renamed to
https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/mas

[2020-12-09 17:45] xamxixixo opened #44 "convertOpenPoseJSONtoCSV failed to find a JSON file..!"
Hello,

I am using Windows 10 with WSL (Ubuntu 20.04) and trying to use the file `convertOpenPoseJSONtoCSV`. With the command `./convertOpenPoseJSONToCSV --from 20191130_170653.mp4-data --label colorFrame_0_ --seriallength 5 --size 1920 1080 -o .` where `20191130_170653.mp4-data` is the folder which contain image files generated from `dump_video.sh` file (so the label is colorFrame_0_XXXXX) and JS

[2020-12-10 08:55] AmmarkoV commented on #44
It sounds like you are doing everything ok!
Can you supply the whole output log so I can search for hints of what might be wrong ?

[2020-12-10 09:00] xamxixixo commented on #44
Hello, thank you for answering.

The output:
[code]

actually the JSON files is `colorFrame_0_XXXXX_keypoints.json`. Did I miss something at the word "keypoints"?

[2020-12-10 10:39] AmmarkoV commented on #44
I just made a commit where I added some more info on the utility to give some better info on what is happening!
Please git pull , rebuild try your command again and send me the output once again..!

[2020-12-11 02:20] xamxixixo commented on #44
This is the new output:
[code]

The same with path `/home/user/MocapNET/20191130_170653.mp4-data`

[2020-12-11 09:32] AmmarkoV commented on #44
So with the above configuration what will happen is that the program will try to open
20191130_170653.mp4-data/colorFrame_0_0xxxx_keypoints.json ( where xxxx starts from 0000 and ends to 1000 )

if you
[code]
what do you get ?

[2020-12-11 10:46] xamxixixo commented on #44
I get this
[code]

[2020-12-11 11:28] AmmarkoV commented on #44
Ok , so the json files are named exactly the way that the program would expect to attempt to open them ( which makes sense since you used the dump_video.sh script provided.. )
Could it be some sort of permission problem on the files ?
Did you for example run the openpose with sudo so that the owner of the .json files is root ?

[code]
will also display permissions of the files..

for example in my

[2020-12-11 11:55] xamxixixo commented on #44
Ah I got it. You are right, it is because of the permission. After doing `chmod 777 -R 20191130_170653.mp4-data`, it finally ran successfully. Thank you very much.

[2020-12-11 12:36] AmmarkoV commented on #44
Good to hear your issue is resolved :+1:
Cheers!

[2020-12-11 12:36] #44 closed, assigned to AmmarkoV

[2020-12-13 22:31] AmmarkoV commented on #43
I found it and replaced the link with the new one!
Thank you for reporting this issue!

[2020-12-13 22:31] #43 closed, assigned to AmmarkoV

[2020-12-14 04:28] xamxixixo opened #45 "MocapNET2CSV to bvh worked, but got some errors"
Hello,

So I ran the MocapNET2CSV (from JSON files exported by Openpose). It worked and I had the out.bvh file. But the output animation is not completely right compared to the Openpose preview output. The body suddenly turned around 180 degrees and its position was lifted higher, just one time, then back to normal.

When I looked at the output log I saw some errors:

`Failed @ loadCalibration (nu

[2020-12-14 22:52] AmmarkoV commented on #45
Hello these are parts of the [gesture recognition engine](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/MocapNET2/MocapNETLib2/mocapnet2.cpp#L405) which are just an experimental feature..
The problem stems from the [gestures recorded](https://github.com/FORTH-ModelBasedTracker/MocapNET/tree/master/dataset/gestures) no longer corresponding to the [main bvh file](https://github

[2020-12-14 23:05] AmmarkoV commented on #45
The messages won't be generated now except if a user explicitly calls the application using the --gestures which however is not currently working and will correctly give the error messages until the gesture bvh files are updated..

[2020-12-14 23:05] #45 closed, assigned to AmmarkoV

[2020-12-16 11:04] rookiefront opened #46 "out.bvh How to import bvhacker，error"
./MocapNET2LiveWebcamDemo --from shuffle.webm --openpose --show 1 --frames 375

![image](https://user-images.githubusercontent.com/28785644/102340807-ea817700-3fd1-11eb-8420-32de54aec74a.png)

![image](https://user-images.githubusercontent.com/28785644/102340459-878fe000-3fd1-11eb-848c-f5d40126fe75.png)

[2020-12-16 11:12] #46 closed, assigned to nobody

[2021-01-01 10:50] BibaDev opened #47 "Installation stops at 11% (Windows + Cygwin64)"
Hi all, I need help, I can't install MocapNET

I am using Windows + Cygwin64

Installed all the packages, but everything breaks at 11% what to do?

![image](https://user-images.githubusercontent.com/59769710/103437391-379f5300-4c38-11eb-9e96-2d485dcf3f3e.png)

[2021-01-02 12:44] AmmarkoV commented on #47
Hello, Cygwin or building directly on windows has never been tested and is not supported..
The C/C++ code of the repository is pretty portable and "vanilla" however the error you are getting  in bvh_loader.c:18 is actually the
[code]
https://github.com/AmmarkoV/RGBDAcquisition/blob/master/opengl_acquisition_shared_library/opengl_depth_and_color_renderer/src/Library/MotionCaptureLoader/bvh_loader.c

[2021-01-13 05:38] Aurosutru opened #48 "Errors when trying OpenCVTest and MocapNET2LiveWebcamDemo in Windows Subsystem for Linux"
MocapNet is installed in Ubuntu 2020.4 in WSL but when trying OpenCVTest the following errors occurs:

tm@LAPTOP-DGSMQ87U:/mnt/d/MocapNET-master$ ./OpenCVTest --from /shuffle.webm --novisualization                                                                                                                                                                              (OpenCVTest:2395): GStreamer-

[2021-01-13 07:44] AmmarkoV commented on #48
You tried running using

[code]
 you should remove the slash on the /shuffle.webm

try

[code]
When you provide a path with the / character in a linux filesystem it is assumed the file is in the root directory..!
The other output warnings are development output and you can ignore them..

[2021-01-13 08:33] AmmarkoV commented on #47
Since this issue is stale and there are no plans for Cygwin compatibility I am closing the issue,
If you want to use windows please consider using the [Linux](https://www.microsoft.com/en-us/p/ubuntu-1804-lts/9n9tngvndl3q?rtc=1&activetab=pivot:overviewtab) subsystem provided by Microsoft..!

Of course using the native Linux version is always the best choice! :)

[2021-01-13 08:33] #47 closed, assigned to nobody

[2021-01-13 09:05] AmmarkoV opened #49 "*** No rule to make target '../dependencies/RGBDAcquisition/opengl_acquisition_shared_library/opengl_depth_and_color_renderer/src/Library/MotionCaptureLoader/export/bvh_to_c.c'"
After recent additions to the BVH code of the RGBDAcquisition there might be a compilation error while  building the project

[code]

Please always use the [update.sh](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/update.sh) script when updating to make sure you have the latest version of RGBDAcquisition or manually cd to dependencies/RGBDAcquisition and git pull to get the lates

[2021-01-15 03:35] Aurosutru commented on #48
I updated to 2.1 and as suggested tried  ./OpenCVTest --from shuffle.webm

tm@LAPTOP-DGSMQ87U:/mnt/d/MocapNET-master$ ./OpenCVTest --from shuffle.webm                                                                                            Trying to open shuffle.webm
Unable to init server: Could not connect: Connection refused

[2021-01-18 07:22] AmmarkoV commented on #48
Hello, the Gtk-WARNING **: 08:23:06.940: cannot open display
means you are running on a headless display, I thought on the Linux subsystem for windows the display worked however it might not be the case..

Does
[code]
work for you ?
It should produce an out.bvh file after running..!

For the OpenPose JSON to CSV procedure I have [included a script](https://github.com/FORTH-ModelBasedTracker/MocapN

[2021-01-19 12:30] Aurosutru commented on #48
Hi,

Tried the --novisualization  suggestion but result appears the same.  Sorry, I am not able to paste the terminal results in these messages with proper line endings, making things a jumble.  This appears to be a Linux Subsystem feature that drops line endings.

tm@LAPTOP-DGSMQ87U:/mnt/d/MocapNET-master$ ./MocapNET2LiveWebcamDemo --from shuffle.webm --novisualization              CPU :  Intel(R

[2021-01-19 12:33] Aurosutru commented on #48
Looks like I might need to update again, though I did respond to what seemed an update suggestion to Ver. 2.1 previously.

[2021-01-19 12:56] Aurosutru opened #50 "Errors when building Tensorflow in Ubuntu 2020.4 in a Virtual Machine"
Hi,

The following errors occur when running ./initialize.sh and Tensorflow is building.  The same errors occur for Ver. 1.x and 2.x.

         Do you want to use Tensorflow 1.x instead of 2.x ?
The project is compatible with both but if you have an older GPU it might be better for you
to stick with Tensorflow 1.x

 (Y/N)?n
Selected Tensorflow version cpu/2.3.1
Found a local tensorflow installatio

[2021-01-19 13:04] AmmarkoV commented on #48
Hello so this is a different error now so at least we are making some progress :)  ..
From the new output you sent me the error part is the final lines which read :

[code]
So the error is emitted from within Tensorflow and  it appears for some weird reason that the Tensorflow 2.3.1 runtime cannot load the 2D joint estimation model in your particular setup

This could be caused by the dataset/comb

[2021-01-20 02:52] Aurosutru commented on #48
OK, checked the md5sum of each of the  three suggested files and only the openpose .pb file matched.  So I removed the other two, issued the rm -rf dependencies/libtensorflow command and ran initialize.sh.  Now the build process hangs when it reaches 11%, similar but not identical to the problem when building Tensorflow I reported yesterday in issue #50.

All three files now match with md5sum.

He

[2021-01-20 04:07] Aurosutru commented on #48
Didn't find an md5sum for the original downloaded .zip so I downloaded it again and found it was different in size than the earlier one.  Using the new MocapNet-master.zip the build process completed, but running the ./MocapNET2LiveWebcamDemo --from shuffle.webm --novisualization command produced the following:

/usr/bin/ld: ../../../dependencies/libtensorflow/lib/libtensorflow.so: .dynsym local s

[2021-01-20 07:57] AmmarkoV commented on #50
Hello the problem is that apparently you don't have git installed..!

[code]
I guess to get the software you download the zip/tar files from github which makes your installation needlessly difficult and harder to update!

Instead try
[code]

 "cd"  to a directory which you plan on having your code ( for example Documents ) and then you can
[code]
This will not only take care of the build dependenc

[2021-01-20 08:11] AmmarkoV commented on #48
Hello first of all and as also this is a common issue with your [VM installation](https://github.com/FORTH-ModelBasedTracker/MocapNET/issues/50), you shouldn't use the .zip files downloaded from github but rather the whole repository since it features automatic updates etc..

So instead of manually downloading the zip instead first try to install git
[code]
and then after "cd"  to a directory whic

[2021-01-21 02:31] Aurosutru commented on #50
After installing git and changing the repo download from the .zip file provided by Github to the cloned version this build was successful.  The program runs great, complete with graphics.  It's time to start testing, after finishing up issue #48.

[2021-01-21 02:31] #50 closed, assigned to AmmarkoV

[2021-01-21 10:05] AmmarkoV commented on #50
Great! :)

[2021-01-21 10:14] AmmarkoV commented on #49
If you used update.sh like the README says you shouldn't have the error :) so closing this..

[2021-01-21 10:14] #49 closed, assigned to AmmarkoV

[2021-01-21 10:23] AmmarkoV commented on #37
Apparently there are tools that can directly transform .pb models to .trt

https://developer.ibm.com/components/ibm-power/tutorials/introducing-tensorflow-with-tensorrt/

so closing this
[code]

[2021-01-21 10:23] #37 closed, assigned to AmmarkoV

[2021-01-22 02:57] Aurosutru commented on #48
Git was already installed, but to build needed the cloned version of the repo rather than the .zip file.  Here is the output after successfully installing:

Broken frame..
Broken frame..
Broken frame..
Too many broken frames..
Successfully wrote 378 frames to bvh file..

[2021-01-22 08:33] AmmarkoV commented on #48
Hello,
Great to hear that its working!
The broken frames in the end are due to the input acquisition from OpenCV not knowing how many frames there are on the input streaming and trying unsucessfully to get another frame from the video file and failing.
So it is normal and expected behavior..

The acquisition works like this because if you want to open  a network stream ( i.e. ./MocapNET2LiveWebcam

[2021-01-22 10:51] Aurosutru commented on #48
Yes, WSL is working, though the `./OpenCVTest --from shuffle.webm` command didn't work.  If that's not important I'll leave it to you to close this issue.

[2021-01-22 10:58] Aurosutru commented on #48
Just noticed that the output listed above for the `./OpenCVTest --from shuffle.webm` command is mostly struck out.  It shouldn't be.  Apparently that is due to another problem with the WSL terminal window and the attempt to work around its formatting.

[2021-01-23 11:53] Aurosutru opened #51 "Questions about converting OpenPose .json files to .bvh"
When attempting to run convertOpenPoseJSONToCSV using a copy of the output folder from OpenPose that contains 273 000000000xxx_keypoints.json files the following is output:

[code]

The name of the first json file is  Test1_000000000000_keypoints.json

Why can’t this find the json files?
In the steps for using this utility listed at the top of its code it mentions jpeg files but not json files.  C

[2021-01-26 00:28] AmmarkoV commented on #51
Hello,
Check this [dataset / 1.5GB](http://ammar.gr/datasets/sven.mp4-data.tar.gz)

After downloading and extracting it somewhere if you use
[code]
You should see the program operation using OpenPose output

Image files should have colorFrame_0_xxxxx.jpg like names
OpenPose files should have the colorFrame_0_xxxxx_keypoints.json name pattern

The .json files must be converted to a CSV file before

[2021-01-26 18:20] AmmarkoV commented on #48
Hello the OpenCV test wont work without a working display so it is normal behavior, closing the issue..!

[2021-01-26 18:20] #48 closed, assigned to AmmarkoV

[2021-02-01 03:57] Aurosutru commented on #51
Using the input formats exactly as you described both programs are now working nicely.

The Readme.md has a picture with the subtitle:  _./MocapNET2LiveWebcamDemo --from shuffle.webm --openpose --show 3 --frames 375_  showing the dancer with closed fists, but the armature has open fingers.  With tweaks OpenPose can output 2D data with fingers quite accurately.   Can MocapNET convert those json fil

[2021-02-02 07:26] AmmarkoV commented on #51
Good to hear!
The hands are work in progress, they are already supported in my development snapshot but the work on extending the neural network to accommodate them has not yet been published. The picture is probably from my dev snapshot ( Its hard to enable disable features all the time, so it slipped by ).. The code in this repository lacks the hand NSRM conversion code as well as the neural net

[2021-02-03 11:54] Aurosutru commented on #51
That's very good news.  The finger tracking in this picture, even from a long distance, looks great.

When might hand and face support land in the public version of MocapNET?  Weeks, months, days...?

The Video to .bvh Workflow doc is nearly complete and ready for forking and pulling, but there is an issue with the movements of the .bvh not at all matching the input video movements.  Using the --s

[2021-02-03 11:59] Aurosutru commented on #51
Just realized that part of the current non-matching issue might be due to my using the higher accuracy --model_pose BODY_25B flag in OpenPose, though it apparently has 25 bones, like the standard model.

[2021-02-03 12:35] Aurosutru commented on #51
Reverting to the default OpenPose model without --hand processing produces somewhat better but still erratic onscreen and .bvh body skeleton movements.  The blue onscreen error messages in the lower right corner now read: Invalid normalized input points.  This video has only shoulders, arms and hips plus hand details not used in this run. Will try a full body next.

Here is partial terminal output

[2021-02-05 14:46] AmmarkoV commented on #35
Hello, found that actually this error is caused by this erroneous ZYX 4x4 transform here -> https://github.com/AmmarkoV/RGBDAcquisition/blob/master/tools/AmMatrix/matrix4x4Tools.c#L446 , so I will have to re-fix this..!

[2021-02-05 15:08] AmmarkoV commented on #35
Hopefully the issue is resolved, the BVH GUI now appears to draw correctly .bvh files with ZYX rotations like the ones in https://github.com/ubisoft/ubisoft-laforge-animation-dataset ..

![screen-2021-02-05-17-08-22](https://user-images.githubusercontent.com/97630/107051165-cb82b280-67d4-11eb-9c6b-86dc72eed048.jpg)

[2021-02-05 15:20] #35 closed, assigned to AmmarkoV

[2021-02-09 06:49] Aurosutru commented on #51
Am having good success with .bvh outputs from full body dance videos.  Talking heads with arms and no visible legs are working too.  Seems having enough bones, including the head, visible in the video is important for smooth and reliable .bvh movements.

When some videos are processed the resulting .bvh starts at one position in Blender then wanders to another location in the first 20 frames where

[2021-02-09 10:34] Aurosutru commented on #51
Just found that most of the questions raised above have been answered in the comment section at the beginning of convertOpenPoseJSONToCSV.cpp

[2021-02-09 11:04] AmmarkoV commented on #51
:)

[2021-02-10 03:04] #51 closed, assigned to AmmarkoV

[2021-02-24 06:22] PrashantSaikia opened #53 "clang: error: linker command failed with exit code 1"
When I run `./initialize.sh`, I get this error at some point after the Tensorflow installation:

[code]

What is this, and how do I fix it?

[2021-02-26 21:01] AmmarkoV commented on #53
Hello, apparently clang doesn't like the  `rt` in this file..

[code]

https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/GroundTruthGenerator/CMakeLists.txt#L13

I use gcc to compile the project and haven't tried clang!

[2021-03-30 11:26] iPsych opened #54 "A possibility to track multi-person in the same scene"
Hello,
The code works amazingly for shuffle.webm and other single person stimuli, but works very strangely when I put the multi-person video.
Is there any way to expand MocapNET with multi-person one like
https://paperswithcode.com/task/multi-person-pose-estimation?

[2021-03-31 21:37] AmmarkoV commented on #54
The weird behavior you are refering to arises from the 2D joint heatmap detection
https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/JointEstimator2D/jointEstimator2D.cpp#L288
where the code tries to "retrieve" the joints with the strongest heatmap signatures..

If you get multiple persons in a scene the algorithm will try to "connect" parts of the bodies of different persons ( th

[2021-03-31 21:51] AmmarkoV commented on #53
As stated in my previous message  building with [CLANG](http://clang.org/) is not supported
The underlying code is pretty vanilla C and C++ and should compile and link correctly with any sane compiler however there are apparently many differences with GCC in things like the RT library ( https://stackoverflow.com/questions/15821663/what-is-the-lrt-flag-in-gnu-make ).
Unfortunately I don't have the

[2021-03-31 21:51] #53 closed, assigned to AmmarkoV

[2021-04-25 04:09] 2655251820 opened #55 "Please, can you give us a video explaining how to install and run this program?"
Because I don’t understand the code, and I don’t know how to install and configure the code running environment, you have explained it, but it is difficult for us who do not understand the code in non-English speaking countries to understand what you have done. If it is convenient, you can Can I explain this in a video? My friends and I are very interested, even though they don’t understand the co

[2021-04-25 04:09] 2655251820 commented on #55
And how to connect to Blender, this is our most concerned issue

[2021-05-06 14:06] chozabu commented on #10
Hmm, Trying to run it on windows10 with WSL2 (ubuntu 20.04)
When I run this command `./MocapNET2LiveWebcamDemo /mnt/d/vidtest.mp4 --novisualization`
I get this output
[code]
Though everything seems to work fine on my linux machine

[2021-05-10 10:01] AmmarkoV commented on #55
Hello, thanks for opening the issue..!
it is true that setting up the project can be daunting if you don't have experience with CMake etc.

First of all I will create a youtube video going over the setup of the project as you requested, however due to currently having various deadlines this will probably happen around June!

To create a realistic rendering of a human in blender you can use :
A) [M

[2021-06-23 09:05] visonpon opened #56 "the given bvh file's result seem bad"
Hi, I have download the provided bvh file of your demo, but it seems the reuslts are bad since the pose sometimes not right and the root motion has big problems like drifting and jitter. I wonder if this is the bvh file's problem or the model's ability not so well

[2021-06-25 07:20] youngallien opened #57 "strcasecmp_sk(skel->skeletonHeader[i].str,"visible_rfoot")!=0"
int areFeetMissing(struct skeletonSerialized * skel)
{
    unsigned int activeJoints=0;
    for (unsigned int i=0; i<skel->skeletonBodyElements; i++)
    {
                if ( strcasecmp_sk(skel->skeletonHeader[i].str,"visible_rfoot")!=0)  { if (skel->skeletonBody[i].value) { ++activeJoints; }  }
                if ( strcasecmp_sk(skel->skeletonHeader[i].str,"visible_rknee")!=0)  { if (skel->skel

[2021-06-28 09:14] AmmarkoV commented on #57
Hello you are right, it is a string check and strings are equal when the strcmp returns 0

[2021-06-28 09:16] #57 closed, assigned to AmmarkoV

[2021-06-28 09:45] AmmarkoV commented on #56
Hello, this is real-time 3D pose estimation from a monocular RGB video in Youtube, with no provided calibration, no body dimensions on the tracked subject, with motion blur and a moving camera  ( as seen here  -> https://www.youtube.com/watch?v=GtJct8nKjcc#t=29s )
The BVH output is standard so I don't know what could go wrong with it, the ensemble and HCD fine-tuning is doing its best to accommoda

[2021-06-29 01:44] youngallien opened #58 "Looking forward to windows version!"
Hi, thanks for your wonderful project.
RGBDAcquisition seems to be only work on linux.
I've tried to transfer your code to windows, the "JointEstimator2D" can work normally,
but the function "std::vector<float> runMocapNET2(
                                 struct MocapNET2 * mnet,
                                 struct skeletonSerialized * input,
                                 int doLowerbody,

[2021-07-01 02:46] visonpon commented on #56
Hello, I have built the environment and went through the process to produce bvh file on my own video[with fixed camera position and high resolution], it seems the model has a limited ability on custom video.
Nonetheless, this work still inspires me to do some work based on this, thanks~

[2021-07-01 21:01] shaheen69-wq opened #59 "cmake"
SSE2 detected and will be used..
Using locally found libtensorflow v1 C-API
BVH Code found and will be used..
OpenGL support will not be compiled in
OpenCV code found and will be used..
/usr/share/OpenCV
-- Configuring done
CMake Error at src/MocapNET2/MocapNETLib2/CMakeLists.txt:14 (add_library):
  Cannot find source file:

    ../../Tensorflow/tensorflow.cpp

  Tried extensions .c .C .c++ .cc .c

[2021-07-02 19:51] AmmarkoV commented on #59
Hello, it appears I have broken the TF1 compatibility and I have to repair the CMake script

[code]

I think that if you remove the directory dependencies/libtensorflow and then rerun ./initialize.sh  to  switch to Tensorflow 2  -> https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/initialize.sh#L212  you should be able to compile normally as a workaround  (until I fix this!)

https:/

[2021-07-02 19:55] AmmarkoV commented on #56
Some tips for better I/O
A) It is important for the input video resolution to be close to the training  16:9
The "best" input videos are from GoPro cameras using a 1920x1080 resolution

B) If you are using the WebcamLiveDemo it uses a homebrewed 2d estimator that is not very accurate if you use --openpose you can use a "heavier" 2D joint estimator that is slightly better

C) for even better result

[2021-07-02 20:07] AmmarkoV commented on #58
Hello, to the best of my knowledge ( [users have reported this on issues](https://github.com/FORTH-ModelBasedTracker/MocapNET/issues/10)  )  you can already compile and use the code of this repository on windows using the  [Win10 linux subsystem](https://www.microsoft.com/en-us/p/ubuntu-1804-lts/9n9tngvndl3q?rtc=1&activetab=pivot:overviewtab).

The main code dependencies ( OpenCV / Tensorflow ) ar

[2021-07-02 21:12] AmmarkoV commented on #59
Hello, I might(?) have fixed it..!

Please try git pull and recompilation!

[2021-07-03 19:30] shaheen69-wq commented on #59
Thank you for providing the solution, i fixed the problem

[2021-07-03 20:10] shaheen69-wq commented on #59
But I encountered an error when trying to convert keypoints openpose to bvh after using the command ./MocapNET2CSV --from BRUout/2dJoints_v1.4.csv --size 640 480
./MocapNET2CSV --from BRUout/2dJoints_v1.4.csv --size 640 480
2021-07-03 23:04:16.711701: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'libcudart.so.10.1'; dlerror: libcudart.so.10.1: cann

[2021-07-03 21:11] shaheen69-wq commented on #59
Solved. For those who got the same error. parameter --novisualization is required.

[2021-07-05 07:52] AmmarkoV commented on #59
Good to know!
the --novisualization basically deactivates all windows and is useful if you are using the software on Windows via the Linux Subsystem, if you are running it on Google Collab or if you are using it on a linux system via SSH or on a headless server!

[2021-07-05 07:52] #59 closed, assigned to AmmarkoV

[2021-08-03 09:31] AmmarkoV commented on #56
The mediapipe wrapper is underway here : https://github.com/FORTH-ModelBasedTracker/MocapNET/tree/master/src/python/mediapipe although not it is not yet functional..

[2021-08-14 18:37] hyewonsonge opened #60 "Mocap"
angle

[2021-08-14 18:38] hyewonsonge opened #61 "opps my mistake"
i wanted to save it personally but issued it. nevermind, thx for awesome code

[2021-08-21 14:14] he1016060110 opened #62 "The output bvh file dose not contains t pose and it is hard to use"
The output bvh file dose not contains t pose at the beginning and it is hard to use.

[2021-09-06 09:53] birdflies opened #63 "select GPU"
Hi, How to specify which GPU to run?

[2021-09-06 10:10] birdflies commented on #63
I have solved it.

[2021-09-06 10:10] #63 closed, assigned to nobody

[2021-09-21 09:15] #60 closed, assigned to nobody

[2021-09-21 09:15] #61 closed, assigned to nobody

[2021-09-28 06:57] AmmarkoV commented on #62
Hello!

By adding the commandline argument

[code]
A T-Pose should be prepended to the BVH output..

As seen in the code [of the live webcam demo](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/MocapNET2/MocapNET2LiveWebcamDemo/livedemo.cpp#L405) and the [CSV Demo](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/MocapNET2/MocapNETFromCSV/mocapnet2CSV.cpp#L3

[2021-10-07 08:51] #62 closed, assigned to AmmarkoV

[2021-10-30 21:10] CGMikeG opened #64 "Is it possible for Mocapnet to run on video instead of livecam?"
Is it possible for Mocapnet to run on video instead of livecam? Or is this something that will be added to MocapNet down the pipepline.

[2021-11-08 08:34] AmmarkoV commented on #64
Yes!
As seen in the README.md instead of supplying a path to a video stream you can supply the path to a file in the "--from" parameter on the MocapNET2LiveWebcamDemo utility..!  Please always keep in mind that this utility uses a homebrewed 2D joint estimator that is not as accurate as the official implementation of OpenPose and that since aspect ratio is important for best results use a 1920x108

[2021-11-08 08:34] #64 closed, assigned to AmmarkoV

[2021-11-08 11:53] #58 closed, assigned to AmmarkoV

[2021-11-18 18:07] KhalloufiHamza opened #65 "Results Evaluation"
Hi,

I could not understand how did you compute the MPJPE while we have 3d coordinates in the form of Euler angles (in the BVH file), therefore we should use MPJAE for the angles. Did you convert the outcomes to another coordinates system?
Could you please give the script that you used to compute the MPJPE for two BVH files?

Thank you

[2021-11-22 10:31] AmmarkoV commented on #65
Hello, you can create a virtual camera and project a BVH solution to 2D or  3D coordinates..!
Check the function [convertBVHFrameToFlat3DPoints](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/MocapNET2/MocapNETLib2/IO/bvh.cpp#L1424) and [convertBVHFrameTo2DPoints](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/MocapNET2/MocapNETLib2/IO/bvh.cpp#L1301) for t

[2021-11-22 10:32] #65 closed, assigned to AmmarkoV

[2021-11-22 10:44] #56 closed, assigned to AmmarkoV

[2021-11-23 06:31] akchain commented on #46
Hello, I got the same issue and how do you fix it? Thanks.

[2021-12-16 09:17] rivergold opened #66 "Branch mnet3 build MocapNetLib2 occur error caused by missing files in NDSM"
On branch mnet3, `src/MocapNET2/MocapNETLib2/CMakeLists.txt` needs files

[code]
but these files do not appear in NSDM. This will cause the compilation to fail.

[2021-12-16 09:39] ChienYuLu commented on #66
Same issue here.
It seems that lots of file listed in [https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/mnet3/src/MocapNET2/MocapNETLib2/CMakeLists.txt#L14](url) are missing now. The missing file are following:
`../MocapNETLib2/NSDM/generated_rhand.hpp
../MocapNETLib2/NSDM/generated_lhand.hpp
../MocapNETLib2/visualization/drawHands.cpp
../MocapNETLib2/solutionParts/rightHandSym.cpp
../Moca

[2021-12-16 09:52] ChienYuLu commented on #66
Same issue here.
It seems that lots of file listed in [src/MocapNET2/MocapNETLib2/CMakeLists.txt:14](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/mnet3/src/MocapNET2/MocapNETLib2/CMakeLists.txt#L14) are missing now. The missing file are following:
[code]

[2021-12-21 15:18] HamzaKhalloufi opened #67 "Could use another BVH hierarchy"
Hi,

I want to use another BVH hierarchy but I get an error say that the expected joints number is different to ours.
I see that you define the **bvhHeader** in **[bvh.hpp](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/301aa3eb3fe00623d61907e93d0a412f984ec082/src/MocapNET2/MocapNETLib2/IO/bvh.hpp#L17)**, I don't know if I change it (the bvhHeader) that will be work or I have to edit oth

[2021-12-24 10:10] AmmarkoV commented on #67
Hello!
Changing the BVH file through bvh.hpp is going to be very difficult and since this is assumed to have a particular order in all modules of the project ( the neural networks etc ) it is most likely going to cause bugs if changed..!

I think your best bet is :

A) to use an external tool like Blender to retarget the BVH output armature to another BVH..!

B) You could probably write your own h

[2021-12-24 10:12] AmmarkoV commented on #66
Hello, thanks for reporting this I will check this, it is probably things that I forgot to commit!

[2021-12-24 10:31] AmmarkoV commented on #66
I just tried deploying the mnet3 on a fresh laptop and code seems to compile!

![screen68](https://user-images.githubusercontent.com/97630/147344853-42853777-6b87-4b25-8e89-a74f5e1c03cf.jpg)

Sorry for the missing files ( and the general lacking state of the mnet3 branch .. :(  )

I am closing the issue since it is fixed, if you encounter more problems please make a new issue, I will monitor these

[2021-12-24 10:31] #66 closed, assigned to AmmarkoV

[2021-12-31 04:00] aanexplus commented on #10
Did you fix this error? If not, try using ubuntu 18.04. It worked just fine on my 18.04. I used the CPU version of tensorflow so you might want to try that too.

[2022-01-13 09:27] polwer opened #68 "Did .pb files for hands forgotten to be provided？"
snprintf(modelPath,1024,"dataset/combinedModel/mocapnet2/mode%u/%0.1f/lhand_front.pb",mode,qualitySetting);
            result += neuralNetworkLoad(&mnet->leftHand.models[0],modelPath,"input_front","result_front/concat",NUMBER_OF_INPUTS,MOCAPNET_LHAND_OUTPUT_NUMBER,forceCPU);
lhand_front.pb and other hands' pb files was not found,in initialize.sh also.

[2022-01-16 03:00] #68 closed, assigned to nobody

[2022-01-16 03:06] polwer commented on #68
I'v found mnet3Ensemble.zip in initialize.sh

[2022-01-16 10:13] polwer opened #69 "Two issues about TF saved model in branch mnet3"
There are two issues about Branch mnet3:
First in initialize.sh line 143:
`mkdir -p combinedModel/mocapnet2/mode1/1.0/
cd "$DIR/dataset/combinedModel/mocapnet2/mode5/1.0/"
wget http://ammar.gr/datasets/bmvc2021/mnet3Ensemble.zip
unzip mnet3Ensemble.zip`.
It makes directory '../mode1/1.0/' ,but unpacked mnet3Ensemble.zip into '../mode5/1.0/'.
Second, I unpacked mnet3Ensemble.zip and get four TF2 sa

[2022-01-17 08:29] AmmarkoV commented on #69
Hello, thanks for opening the issue I will try to resolve it ASAP

[2022-01-17 12:35] AmmarkoV commented on #69
Once again thank you for reporting the issue, for some reason  the zip command ignored files in the second level directories of the model files so they didn't get included!
I switched back to tarballs so the new path for the models is  ( http://ammar.gr/datasets/bmvc2021/mnet3Ensemble.tar.gz ) and I double checked it and seems to be loading correctly now..!

I have appended the appropriate [correc

[2022-01-17 13:49] quyanqiu commented on #69
Yes it worked! But following error occur:

2022-01-17 21:36:27.189666: W tensorflow/core/framework/op_kernel.cc:1763] OP_REQUIRES failed at conv_ops_fused_impl.h:697 : Not found: No algorithm worked!
predictTensorflowOnArrayOfHeatmaps: Error running session 5 ( 2 root error(s) found.
  (0) Not found: No algorithm worked!
	 [[{{node activation_1/Relu}}]]
  (1) Not found: No algorithm worked!
	 [[{{

[2022-01-17 14:05] quyanqiu commented on #69
I found python solution as follow,But how to set in Tensorflow C_api?
Adding the code below right after the imports solved the issue for me ! Thanks !

    physical_devices = tf.config.list_physical_devices(‘GPU’)
    tf.config.experimental.set_memory_growth(physical_devices[0], True)

[2022-01-17 16:54] AmmarkoV commented on #69
Unfortunately the Tensorflow stuff has a lot of weird behaviors, typically if you dont use a very recent version and you google errors (like what you did) there are small workarounds..!

For the C API what I have written from scratch as a TF2 wrapper is this
https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/mnet3/src/Tensorflow2/tensorflow2.h

I have the [tf2_setCPUExecutionSessionConfigura

[2022-01-17 16:54] #69 closed, assigned to AmmarkoV

[2022-01-18 02:15] quyanqiu commented on #69
I change libTensorFlow to 2.6 and Use CUDA11.2 it worked!
Thanks dude

[2022-01-18 02:28] polwer commented on #69
OK, now these saved models can be loaded successfully and predict fine.Thank you.

[2022-01-18 10:20] #67 closed, assigned to AmmarkoV

[2022-01-27 13:21] nowhereman1999 commented on #55
@AmmarkoV Hi,I'm a undergratuate from China and I have attended the Adaptive Computing Challenge 2021
with Xilinx and I want to use the KV260 AI starterkit to make a mocap which Iead me to find your project，I can‘t install your MocapNET directly using the initialize.sh script which shown in this picture:
![image](https://user-images.githubusercontent.com/53631206/151365907-f186491a-8c3c-4211-b697-

[2022-01-31 10:11] AmmarkoV opened #70 "KV260 AI starterkit to build mocap"
@AmmarkoV Hi,I'm a undergratuate from China and I have attended the Adaptive Computing Challenge 2021
with Xilinx and I want to use the KV260 AI starterkit to make a mocap which Iead me to find your project，I can‘t install your MocapNET directly using the initialize.sh script which shown in this picture:
![image](https://user-images.githubusercontent.com/53631206/151365907-f186491a-8c3c-4211-b697-

[2022-01-31 10:11] AmmarkoV commented on #55
I moved the issue of @Hezhexi2002  to a new issue so that it is not mixed with the making a video issue..

[2022-01-31 10:36] AmmarkoV commented on #70
Hello!

I am not familiar with the KV260 architecture, however from what I am seeing from its website ( https://www.xilinx.com/products/som/kria/kv260-vision-starter-kit.html ) this is a device that departs from the x86/x64 architecture that MocapNET was developed for..

I think that porting MocapNET to this architecture is going to be difficult..!

To achieve it you will need to build 3 things :

[2022-02-07 02:50] nowhereman1999 commented on #55
OK，thanks a lot，I'm so sorry that I don't reply you in time because recently we have celebrated the Spring Festival in China，I will soon check the new issue and try it again:-)

[2022-02-10 14:54] Intiserahmed opened #72 "How to run with gpu?"

[2022-02-11 11:54] #72 closed, assigned to nobody

[2022-02-22 05:21] nowhereman1999 commented on #70
@AmmarkoV Thanks for your detailed answer，I'm so sorry to reply you so late until now because I haven't came back to school yet.It is really difficult to run mocap on KV260 due to the architecture of it，I will try to install all the dependcies you have mentioned above as soon as I go back to school，your patience moved me so deeply that I want to apologize for
this late reply again and hope you wil

[2022-02-22 14:44] AmmarkoV commented on #70
No problem !

[2022-02-23 04:27] ChangcongWang opened #73 "Could not convert video from webcam to bvh output"
I use `./OpenCVTest --from /dev/video0 ` to check my webcam. And it can open my webcam successfully. But I could not use `./MocapNET2LiveWebcamDemo --from /dev/video0 --live` to get result. On the another hand, I can get the result through `./MocapNET2LiveWebcamDemo --from shuffle.webm`.The following is the output of `./MocapNET2LiveWebcamDemo --from /dev/video0 --live`.
[code]
Because the followi

[2022-02-23 13:21] AmmarkoV commented on #73
The error is :

`GStreamer warning: Error opening bin: no source element for URI "/dev/video"`

`OpenCV(4.2.0) ../modules/videoio/src/cap_images.cpp:253: error: (-5:Bad argument) CAP_IMAGES: can't find starting number (in the name of file): /dev/video in function 'icvExtractPattern'`

`Source seems to be a webcam (/dev/video @ 640,480) `

The "default" input video stream in Linux should be /dev/vi

[2022-02-23 14:22] ChangcongWang commented on #73
Sorry, it's my fault. I try your suggestion and it solve my problem. It's a stupid spelling mistake. And I want to ask another question, when will you release the MocapNET3?

[2022-02-23 14:22] #73 closed, assigned to AmmarkoV

[2022-02-23 19:51] AmmarkoV commented on #73
@ChangcongWang  The MocapNET 3 is already released in the mnet3  branch ( https://github.com/FORTH-ModelBasedTracker/MocapNET/tree/mnet3 ) . However the code quality of the MocapNET 3 is a little lacking since we currently have not enough manpower to maintain all the different branches, an additional "happy" problem is that MocapNET is one of the winning "methods" on the  BonsApps challenge ( http

[2022-02-27 12:24] socketing commented on #55
我将用中文与你沟通，方便告诉我你的VX或者QQ吗，这样更方便我们交流。

[2022-02-27 12:24] socketing commented on #55
@Hezhexi2002

[2022-02-27 13:05] nowhereman1999 commented on #55
用微信吧，主要是我也没有在本地跑起来过，但是我现在主要是想移植到kv260上![mmqrcode1645967052419.png](https://user-images.githubusercontent.com/53631206/155883578-306d7fed-cba5-485c-92ad-603755ecbecd.png)

[2022-03-05 08:13] japanvik opened #74 "http://ammar.gr/ seems to be down"
Hi.
Thanks for the great set of tools.
Just noticed that [http://ammar.gr/](http://ammar.gr/) is not reachable at the moment and the initialize.sh script can not download the assets stored here. It was working 2 days ago so this must be a recent thing.

[2022-03-05 23:56] japanvik commented on #74
This seems to be resolved now. Thanks!

[2022-03-05 23:56] #74 closed, assigned to nobody

[2022-03-08 10:24] nowhereman1999 commented on #70
![image](https://user-images.githubusercontent.com/53631206/157216351-39e08b5c-0bfc-4e09-b9ec-aa40455b4181.png)
Hi ,as you can see,now I can run the initialize.sh with no error.The reason why it didn't work before is because the script is written in windows which ends with \r\n but in unix it end with \n,so the problem was solved after I changed file format.I'm really exited to tell you about this

[2022-03-08 11:17] nowhereman1999 commented on #70
@AmmarkoV Hi,sorry to bother you again,but now I meet the new error when it began to make:
![image](https://user-images.githubusercontent.com/53631206/157227798-aa744043-28bb-48e1-bb11-3a12420a941f.png)
It seems due to the source code but I can't find the cpp file in the src folder,could you please tell me what causes it?

[2022-03-09 17:01] heez77 opened #75 "CSV from Openpose full of 0"
Hello, I have used the command lines you gave to use OpenPose 2D keypoints in order to get the BVH file. When converting my json file to a csv file, I noticed that the CSV file is filled with zeros in all the CSV.

Branch cloned : master
Linux Ubuntu 20.04

[2022-03-14 10:24] AmmarkoV commented on #75
Hello!
Can you give me more details on the commands you execute ?

[2022-03-18 01:07] KhalloufiHamza opened #76 "the unit of Error metrics"
Hi,
My question is about [your python utility](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/python/compareUtility/compareUtility.py) to compare between H36M MPJPE and your output.
What is the unit of error metrics there (including MPJPE)? the meter or millimeter or something else?
Thank you so much.

[2022-03-18 13:16] AmmarkoV commented on #76
Hello!
The measurements are in millimeters, I will add this information the python utility because the way it is currently done it is not explicitly written as you say!

Btw this is how the csv file output while using the tool looks like

![screen-2022-03-18-15-15-18](https://user-images.githubusercontent.com/97630/159009516-b48b6a36-076e-4a0b-b39e-048a7d1813d5.jpg)

[2022-03-18 13:21] AmmarkoV commented on #76
Oh and by the way there is a way to change it from millimeters to let's say meters by modifying the [ourScaleX,ourScaleY,ourScaleZ](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/python/compareUtility/compareUtility.py#L337) parameters..
For example using [--ourscale 0.001 0.001 0.001](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/python/compareUtility/co

[2022-03-18 13:30] #76 closed, assigned to AmmarkoV

[2022-03-18 13:33] AmmarkoV commented on #70
Hello , try running the ./update.sh script in the root directory,
or
cd dependencies/RGBDAcquisition
git pull

and then rerunning the make command

I think this might be caused  by mismatched MocapNET/RGBDAcquisition versions !
Sorry it took so long to answer you, the issue has been open for very long and I failed to notice that there was a new message in it!

[2022-03-18 13:43] nowhereman1999 commented on #70
ok，thank you for your sincere reply，I will try the way you suggested tomorrow and then I will give you a feedback.

[2022-03-18 21:42] KhalloufiHamza commented on #76
thank you a lot Mr. Ammar this is very helpful. 👍

[2022-03-19 11:20] nowhereman1999 commented on #70
Sorry to bother you again,I'd like to inform you in advance that I may use the code from your repo to complete the e Adaptive Computing Challenge 2021 with Xilinx but I'll definitely cite your work in my  project.So I want to ask you wether I can gain your permission to do this?

[2022-03-19 11:59] nowhereman1999 commented on #70
![image](https://user-images.githubusercontent.com/53631206/159119969-84f60c53-a112-445b-97a9-b2c3af366682.png)
It occurs another error which is shown in the picture above after I follow your suggestions,so how can I solve this?

[2022-03-19 13:53] nowhereman1999 commented on #70
@AmmarkoV Hi,I checked some closed issues have been mentioned under your repo,I found that there is a issue which is similar to my problem:https://github.com/FORTH-ModelBasedTracker/MocapNET/issues/20.The guy wanted to install the Mocap on Jeston which is also a ARM device and you pointed the error is due to the tensorflow lib,to solve that you must install the precompiled tensorflow for ARM or re

[2022-03-19 16:10] AmmarkoV commented on #70
Hello it is ok to use the code for research purposes, or this contest however using the code for a commercial application needs special permissions from the[ Foundation of Research Department](https://forth.gr/en/home/) which legally owns the copyright of the code. See the [license.txt ](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/license.txt) for more information.

It is true

[2022-03-19 16:14] nowhereman1999 commented on #70
emmm，I have run the update.sh and then it throw this error again so did you mean that I need to run it again？

[2022-03-19 16:42] AmmarkoV commented on #70
Unfortunately yes, you need to check if your CMakeLists.txt looks like this :
https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/CMakeLists.txt#L137
and
if the dependencies/RGBDAcquisition/opengl_acquisition_shared_library/opengl_depth_and_color_renderer/src/Library/MotionCaptureLoader/export/ has  the bvh_to_json.c file !

https://github.com/AmmarkoV/RGBDAcquisition/blob/master/openg

[2022-03-19 16:48] nowhereman1999 commented on #70
ok，I will check it tomorrow because it is midnight right now so honestly I'm a little bit of tired and I want to go to sleep，but thank for your patience again！：-)

[2022-03-19 16:57] AmmarkoV commented on #70
Yeah I'll try to respond faster and sorry you are having troubles! and good luck with your competition!

[2022-03-20 06:52] nowhereman1999 commented on #70
![image](https://user-images.githubusercontent.com/53631206/159151489-6404d59b-d6c2-4e31-9235-c7cd95c7d9df.png)
I have checked the directory and found that there is a bvh_to_json.c but the L137 of my CMaKeLists.txt is different from yours
![image](https://user-images.githubusercontent.com/53631206/159151624-d485890d-5e6a-468e-9279-eb2aa5a810db.png)
so is this causing my error and if it is what sho

[2022-03-20 10:51] AmmarkoV commented on #70
it should be the case that when you
`git pull origin master` CMake will update the CMakeLists.txt with the version in the repository
If this does not happen there is some problem with git and your cloned copy of the repository probably..

The easiest way to fix it is to manually is to copy paste the missing
`${CMAKE_SOURCE_DIR}/dependencies/RGBDAcquisition/opengl_acquisition_shared_library/opengl_

[2022-03-20 10:53] AmmarkoV commented on #70
also make sure you are using the master or mnet3 branch by doing
`git checkout master` in case you are using another branch

[2022-03-20 11:00] Hezhexi2002 commented on #70
oh I get it，I just found that I was using the master branch and now I will switch to the mnet3 branch to try it again！

[2022-03-20 11:42] nowhereman1999 commented on #70
ok,I see and I have cloned the repo once again and run the initialize.sh again which has not thrown a error so far but I'm not sure if it will occur the same error during make.It will take a period of time to finish download the models so I might give you a response later.At the same time,I want to explain to you about my request of using your code in my project again.Actually the race finally req

[2022-03-21 00:27] nowhereman1999 commented on #70
@AmmarkoV I’m so sorry to tell you that I still get a similar error like this:
![image](https://user-images.githubusercontent.com/53631206/159192039-14880a1a-25dc-4501-8cc6-cf6b8ea2676d.png)
and I'm sure that I'm using the master branch and I have no idea to deal with this,so how did it happen again?

[2022-03-21 01:01] nowhereman1999 commented on #70
![image](https://user-images.githubusercontent.com/53631206/159193216-5a3b0766-ab6f-4574-91c0-f520cc597c1c.png)
Hi,I ran the initialize.sh again and it seems like working this time but still throw this error,However,I believe this is due to the tensorflow lib I installed,so did you have a tensorflow lib build for ARM device or where I can find a pre-compiled lib for ARM?

[2022-03-21 08:18] AmmarkoV commented on #70
also make sure you are using the master or mnet3 branch by doing
`git checkout master` in case you are using another branch

Hello so once again this is this file :
https://github.com/AmmarkoV/RGBDAcquisition/blob/master/tools/PThreadWorkerPool/pthreadWorkerPool.h

which should be located at `dependencies/RGBDAcquisition/tools/PThreadWorkerPool/pthreadWorkerPool.h `
I don't know why it would be mi

[2022-03-21 08:19] AmmarkoV commented on #70
Yes this error means that CMake did not detect a tensorflow library so it can't find the libtensorflow.so library or actually that it did but the tensorflow lib provided is in the wrong format ( x64 ) instead of ARM

[2022-03-22 03:39] nowhereman1999 commented on #70
@AmmarkoV Hi I'm very excited to tell you that I have successfully compiled it in my KV260 since I found a precompiled libtensorflow.so for jetson nano from this link:[https://github.com/nevillerichards/tensorflow/releases](url) and it also works for KV260,I guess the reason for that is both of them are ARM device and their cpu are both belonged to Cotex A series.Anyway,I finally install MocapNET

[2022-03-22 14:54] AmmarkoV commented on #70
Nice :) Good luck!

[2022-03-22 14:59] AmmarkoV commented on #29
Hello, it appears https://github.com/FORTH-ModelBasedTracker/MocapNET/issues/70 that there is a libtensorflow for Jetson devices! here !
So using it you can build MocapNET for Jetson https://github.com/nevillerichards/tensorflow/releases

[2022-03-22 14:59] #29 closed, assigned to AmmarkoV

[2022-03-22 14:59] #70 closed, assigned to nobody

[2022-03-22 15:00] #34 closed, assigned to AmmarkoV

[2022-03-23 04:41] nowhereman1999 commented on #70
I'm so sorry to bother you again,but it seems to appear another error again,I can run the opencvtest with my usb camera properly like this:
![image](https://user-images.githubusercontent.com/53631206/159624450-fc8b3560-2629-419f-b1d7-1849eb2528b0.png)
However,the fps when I run the livedemo using my usbcamera is so low which is only 0.83 FPS like this:
![image](https://user-images.githubuserconten

[2022-03-31 14:34] Michele1996 opened #77 "Official OpenPose vd OpenPose without PFA"
Hi, I'm currently use MocapNET and OpenPose to create a BVH using some videos. I've tried the MocapNET2LiveDemo with --openpose flag and also the official implementation of OpenPose to generate BVH of the same videos and I notice some differences  and sometimes LiveDemo perform better.

Is it possible to know where MocapNET2LiveDemo place de json file coming from the --openpose treatement in order

[2022-04-02 08:21] AmmarkoV commented on #77
Hello the homebrewed Openpose implementation is  not using json at all it is a .pb model trained from scratch and loaded using the intialize script (https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/initialize.sh#L164)  and the retrieved 2d heatmaps are converted to 2D points using the 2d Joint Estimator here (https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/JointE

[2022-04-07 10:21] Michele1996 commented on #77
Hi thank you for the answer!
I would like to ask you another question about the performance.
I mean, If I use openPose to get the keypoints and after I use MocapNET to get the bvh (for example using the shuffle.webm example) I don't get the same results of the liveDemo which is almost perfect while the other one is far from the real animation.
Is there a reason for that?

[2022-04-08 11:33] AmmarkoV commented on #77
Hello!

The neural network is the same, so no matter the source it should run the same (and actually better using the full OpenPose implementation)..
Now since by altering the 2D joint quality you have observed that it negatively affects the 3D output my guess is that your issue is actually the following :

MocapNET is trained using a 1920x1080 "virtual camera" that tries to emulate a [GoPRO Hero

[2022-04-08 15:18] tasinislam21 opened #78 "What do we change to make it work on images?"
I understand that this code only works on videos. How can we change the code so that it also works on images?
Thanks

[2022-04-11 23:05] VisImage opened #79 "Illegal instruction (core dumped)"
Just installed latest version. Ubuntu 20.4, running on CPU

MocapNET$  ./MocapNET2LiveWebcamDemo --from shuffle.web --frames 375  returns:
Illegal instruction (core dumped)

MocapNET$ ./OpenCVTest --from shuffle.webm works fine.

Please advise. Thank you.

[2022-04-12 11:05] AmmarkoV commented on #79
Illegal instruction means you are using a CPU that lacks specific instructions !
For example AVX
Since the CMakeFile build script automatically builds all of my code for your exact CPU this is probably emitted by Tensorflow..
So what CPU are you using  what Tensorflow version are you using ?

[2022-04-12 11:07] AmmarkoV commented on #79
By the way I have provided a script to help you [build your own Tensorflow version here](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/scripts/tensorflow2Build.sh)

If you find it hard building tensorflow you are not alone and you should see this video "How To Make Package Managers Cry" ->  https://www.youtube.com/watch?v=NSemlYagjIU#t=19m0s

[2022-04-12 11:13] AmmarkoV commented on #78
Hello,
the easiest way I can think of is to
remove the OpenCV code [here](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/MocapNET2/MocapNET2LiveWebcamDemo/livedemo.cpp#L91) that gets a cv::Mat from the capture device and replace it
with frame = imread("YourImage.png") check here for documentation on [imread](https://docs.opencv.org/3.4/d4/da8/group__imgcodecs.html)

[2022-04-12 12:07] AmmarkoV commented on #78
I have added a "half baked" mode from jpg/png images..

Look at the changes I did here..
https://github.com/FORTH-ModelBasedTracker/MocapNET/commit/c2217938bf42c0a95e3c57bcc6427e9f74049119

basically when running ./MocapNET2LiveWebcamDemo if your --from arguments points to an .jpg or .png file it should use it instead of the camera..

[2022-04-12 12:27] AmmarkoV commented on #78
If you try

[code]

you should get something like this now..

![screen-2022-04-12-15-27-03](https://user-images.githubusercontent.com/97630/162962290-c5c9dcec-f172-4ab2-830c-6c3e8193a140.jpg)

[2022-04-12 14:16] VisImage commented on #79
Thank you AmmarkoV, This is my CPU:
     *-cpu
          product: Intel(R) Core(TM) i7 CPU         860  @ 2.80GHz
          vendor: Intel Corp.
          physical id: 1
          bus info: cpu@0
          size: 1196MHz
          capacity: 2801MHz
          width: 64 bits

[2022-04-12 14:53] AmmarkoV commented on #79
Hello so yes as I imagined, your CPU is an i7 CPU, the first generation of  i7 ( launched at 2009 so it is now 13 years old )
Your CPUs supported "instruction" set is SSE4.2 ( https://www.intel.com/content/www/us/en/products/sku/41316/intel-core-i7860-processor-8m-cache-2-80-ghz/specifications.html ) so that's why you get the illegal instruction error..!

This is also not a problem of my code but

[2022-04-12 15:23] tasinislam21 commented on #78
Thank you very much!!!!

[2022-04-12 15:37] VisImage commented on #79
Thank for the swift reply. I got the point. I am trying to try MocapNET on another PC with more recent CPU and on google Colab.  I'll update with the out comes afterwards.

Thank you and stay tuned...

[2022-04-12 16:35] VisImage commented on #79
Just tested on a Lenovo Y720, Ubuntu 20.4:    *-cpu:    product: Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz

"./MocapNET2LiveWebcamDemo --from shuffle.webm --openpose --frames 375" Crashed with the following error:

terminate called after throwing an instance of 'cv::Exception'
  what():  OpenCV(4.2.0) ../modules/highgui/src/window.cpp:376: error: (-215:Assertion failed) size.width>0 && size.height

[2022-04-12 19:34] AmmarkoV commented on #79
Hello this is a bug on my part somewhere ..

If you try
`./MocapNET2LiveWebcamDemo --from shuffle.webm --openpose --frames 375 --show 3
`

it works ( notice the added --show 3)

[2022-04-12 19:59] AmmarkoV commented on #78
No problem, have fun!
Closing the issue!

[2022-04-12 19:59] #78 closed, assigned to AmmarkoV

[2022-04-12 20:01] AmmarkoV commented on #79
Ok I found the problem, I actually introduced it today trying to fix Issue  https://github.com/FORTH-ModelBasedTracker/MocapNET/issues/78

if you git pull and then rebuild it should work now with all visualizations..!

[2022-04-12 22:31] VisImage commented on #79
YES, it works now :-)  Thank you, Ammar.

A couple of more questions.
1)There are some tools included in your repo. Do you have any description of these tools, such as drawCSV, convertCSV3DToMocapNETInput, and so on.
2) Do you have any description on the CSV files referred  in your repo? Is it for 2D keypoints, 3D keypoints, or may both?
3) We may migrate your kernel algorithm to Windows, if our v

[2022-04-12 23:09] AmmarkoV commented on #79
1) This is an active research project so most of the utilities etc are written to accommodate a set of experiments and are self-explanatory, and deal with a specific workflow e.g. the convertCSV3DToMocapNETInput is a utility to dump from an internal conversion to files that can be consumed directly by the [MocapNETFromCSV](https://github.com/FORTH-ModelBasedTracker/MocapNET/tree/master/src/MocapNE

[2022-04-12 23:11] AmmarkoV commented on #79
I am also closing this issue since it is resolved, in case you have more problems/questions feel free to open a new one..! If you reply on a closed issue like this it is not guaranteed that I will see it since I get a ton of github notifications from many repositories and they often get lost

[2022-04-12 23:11] #79 closed, assigned to AmmarkoV

[2022-04-13 02:39] VisImage opened #80 "switch --novisualization keeps the program in dead loop"
What is actually happens.

"./MocapNET2LiveWebcamDemo --from shuffle.webm --novisualization --frames 10" still keeps running after over 5 minutes.

"./MocapNET2LiveWebcamDemo --from shuffle.webm --frames 10" takes about 10 seconds to complete

[2022-04-13 21:03] AmmarkoV commented on #80
Hello, thanks for reporting this will check it out..

[2022-04-13 21:39] AmmarkoV commented on #80
Fixed, the frame incrementation happened inside an if statement that only got triggered if visualization was enabled..!
It is quite silly actually!
Thanks for reporting this! Waiting for confirmation that it works for you!

[2022-04-14 03:41] VisImage commented on #80
Great, Ammar ! It works now.  Tested on both Ubuntu and Windwos/WSL, using  switch --novisualization.

We'll evaluate the performance in near future, and can report to you if interested. Do you have any reference to BVH file used?  How are the (openpose) keypoints linked with (BVH) joints?

Thank you.

Peter

[2022-04-14 20:32] VisImage commented on #80
closed by accidentally.

[2022-04-15 00:14] AmmarkoV commented on #80
These are the name arrays :
https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/MocapNET2/MocapNETLib2/IO/commonSkeleton.hpp

and these are the BVH joints
https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/dataset/headerWithHeadAndOneMotion.bvh

[2022-04-16 11:24] AmmarkoV commented on #80
Since the main issue is fixed I am closing this, if you have a new question/issue/bug feel free to open a new one to keep searches of problems relevant to the Issue titles

[2022-04-16 11:24] #80 closed, assigned to AmmarkoV

[2022-04-19 04:30] VisImage opened #81 "Inverse Kinematics seems not working"
Thank you for implementing the Inverse Kinematics algorithm in MocapNET. IK is a great feature. However, based on tests on our own videos, I am getting confused on how Inverse Kinematics algorithm is implemented in your repo. The following clarifications are needed:
1) In README, it is said " As described in the paper, the Hierarchical Coordinate Descent Inverse Kinematics algorithm has various hy

[2022-04-21 12:29] tasinislam21 opened #82 "Problem with generating BVH file using images that only show the torso"
Hi,

I have a problem with the BVH file produced by this repository. I am working with images that only show the upper body. Whilst the poses are detected on the RGB image, the posture does not reflect the same way on the BVH file. The screenshot below shows the difference. One would expect to see the right arm crossing over the left.

![Publication1](https://user-images.githubusercontent.com/3309

[2022-04-21 18:26] AmmarkoV commented on #81
1 )  MocapNET neural networks actually perform the IK as part of the neural network regression, however in our [ICPR20 paper(the paper you are asking about)](http://users.ics.forth.gr/~argyros/mypapers/2021_01_ICPR_Qammaz.pdf) the HCD IK algorithm is a secondary generative IK module designed to fine tune the neural network, correct noise and provide some degree of personalization and reduce the "b

[2022-04-24 13:22] VisImage commented on #81
Thank you for the response. However, as a tech demo accompanying your research paper, the OFFSET values are important. A preset default OFFSET values may ONLY provide "good" key-point-detection result when using a specific data-set, where people have similar body structures (skeleton structure). Have you tested your implementation using different data sets?

[2022-04-25 20:02] AmmarkoV commented on #82
Hello, unfortunately the 2D inputs given create a very under-constrained problem to solve which the MocapNET NN tries its best to explain.

If you rotate the blender BVH skeleton you can understand how assuming a side view for example the NN BVH solution approximates the input 2D points

For example although when looking this skeleton ( which I created to illustrate the ill-posed nature of 2D->3D

[2022-04-25 20:18] AmmarkoV commented on #81
The 2020 version of the method ( https://github.com/FORTH-ModelBasedTracker/MocapNET/tree/mnet3 ) which is the most recent achieves an average of 99 mm 3D error on Human3.6M dataset using this generic skeleton

![screen-2022-04-25-23-04-31](https://user-images.githubusercontent.com/97630/165166100-b02b1323-ef02-46cb-9626-10ffc470abf8.jpg)

25.37mm in the RHD hand tracking task and  9.93mm in the S

[2022-04-25 20:22] tasinislam21 commented on #82
No worries! Thanks for your explaination.

[2022-04-26 05:55] VisImage commented on #81
Thank you for the clarifications.  However, your approach will not be useful if a model is needed for each different skeleton. Each individual human being is unique and has different skeleton (structure). Therefore your approach will need a model for each person.  Further more, human being is dynamic and they grow. Therefore your approach may also need a model for each period of time of the same p

[2022-04-26 12:20] AmmarkoV commented on #81
There are works that can handle RGB -> BMI ( https://ieeexplore.ieee.org/document/8844872 ) and given enough training samples you could actually create a module that can emmit a skeleton/OFFSET collection and select a good NN "close" to a specific skeleton profile, however this is a huge amount of work and the important part and the reason for MocapNET is how to learn to regress 3D angles from 2D

[2022-05-06 03:02] VisImage commented on #81
Impressed by your description on anthropometry.  Although there is another way to put pose detection and anthropometry into perspectives. It is an important task in engineering anthropometry to study human skeleton, where the body landmarks (key-points) are used as input for such study.  Your figure above is a result of such study.  Ideally, a key-point detection algorithm (like yours here) can be

[2022-05-07 21:59] #82 closed, assigned to nobody

[2022-05-25 11:24] AmmarkoV opened #83 "tensorflow/compiler/tf2xla/xla_op_registry.cc:230] Non-OK-status: lookup_status status: NOT_FOUND: Op type not registered 'Bitcast'"
It appears that the provided models are no longer compatible on tensorflow versions 2.6+

[2022-06-16 10:33] CMsmartvoice opened #84 "How to convert my private 3D data to BVH building trainning dataset."
We would like to train this model using our own 3d data.
Can you provide some tools to help us convert 3d data to bvh.

[2022-06-17 15:11] AmmarkoV commented on #84
Hello,
Unfortunately due to licensing issues by FORTH which is the copyright holder I am not allowed to publish the NN training code :(
They only permitted me to publish the demo/evaluation code..

However you can open the .pb tensorflow saved models in datset/combinedModel and study them/retrain them..!
As for 3D/training data if when running the [./initialize.sh](https://github.com/FORTH-ModelBa

[2022-06-17 15:11] #84 closed, assigned to AmmarkoV

[2022-06-17 15:16] #81 closed, assigned to AmmarkoV

[2022-06-17 15:17] AmmarkoV commented on #77
I have added a Mediapipe wrapper (instead of OpenPose) that will probably also help you so closing the issue !

[2022-06-17 15:17] #77 closed, assigned to AmmarkoV

[2022-06-30 23:49] KhalloufiHamza opened #85 "Compareutility bug + wrong MPJE values"
Hi,

I tried to compare two CSV files using the new version of [compareutility.py](https://github.com/FORTH-ModelBasedTracker/MocapNET/blob/master/src/python/compareUtility/compareUtility.py) script but I get this bug:

Traceback (most recent call last):
  File "C:\Users\pc\Desktop\Untitled Folder\compareUtility\compareUtility.py", line 401, in <module>
    out=readCSVFile(output,1.0,outputDelim,0

[2022-07-02 20:16] AmmarkoV commented on #85
Hello I will look into this,
Thanks for reporting this!

[2022-07-12 05:54] yslion opened #86 "how to rigging vrm / live2d / normal video with the BVH outputs"
how to rigging vrm / live2d / normal video  with the  BVH outputs

[2022-09-21 00:47] jihg88 opened #87 "libtensorflow.so.2 no such file or diretory"
when i followed the quick test commands in mnet3,i got a  error at the last line :
"./MocapNET2CSV: error while loading shared libraries: libtensorflow.so.2: cannot open shared object file: No such file or directory"
I have install tensorflow.2.3.1 by the initialize.sh, i don't know how to fix the error.

[2022-09-21 04:43] jihg88 commented on #87
i can run that after i rename the file to"libtensorflow.so.2"
but it comes a new error
![image](https://user-images.githubusercontent.com/50345299/191416029-97738985-7e10-4f6a-9ca0-c58a160f9438.png)

[2022-09-21 11:46] luoww1992 opened #88 "send bvh data to blender or ue4 to drive human skeleton?"
i notice that you say  you can converte to BVH motion frames from video in real-time, and can use it in blender,
 i want to send bvh mocap data to blender to drive  human skeleton  in real-time.
so:
   step1 -- i get  bvh motion frame data by video frame one by one.
    step2-- send the data to blender
    step3-- blender analysis the bvh mocap data and to drive the skeleton.

now step1, and step2

[2022-09-25 05:36] jihg88 commented on #87
it workes now,the error dispersed ,thanks

[2022-09-26 14:57] jihg88 commented on #46
Hello, I got the same issue and how do you fix it? Thanks.

[2022-09-26 15:00] #87 closed, assigned to nobody

[2022-10-11 20:14] AmmarkoV commented on #88
Hello sorry for the very long delay!
I use [Makehuman](http://www.makehumancommunity.org/) plus this [Rig](http://www.makehumancommunity.org/content/cmu_plus_face.html)  plus The [BVH Retargetter](https://diffeomorphic.blogspot.com/p/bvh-retargeter.html) plugin for blender.
Unfortunately I have never used unreal engine so I am not familiar with it!
Do you have a BVH skeleton or animation file that

[2022-10-11 20:16] AmmarkoV commented on #86
Hello sorry for the very long delay responding to your message!
I use [Makehuman](http://www.makehumancommunity.org/) plus this [Rig](http://www.makehumancommunity.org/content/cmu_plus_face.html)  plus The [BVH Retargetter](https://diffeomorphic.blogspot.com/p/bvh-retargeter.html) plugin for blender to do an "animation" with the BVH outputs and a rigged skinned human model!

[2022-10-27 09:40] daqjjang opened #89 "Does it has to be full body to track?"
I tried to use videos with the upper body, but it seems that MocapNET does not work.
Is there any option for it?

[2022-11-20 01:52] Joyako opened #90 "How to convert 3d pose to quaternions or rotation matrix?"